@model T034.Api.Dto.Vgiik.PublicationDto
@{
    ViewBag.Title = "Редактирование публикации";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddOrEdit", "Publication"))
{
    <legend>Редактирование</legend>
    <div class="control-group warning">
        
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <button type="button" class="btn">Отмена</button>
    </div>
}
