/packages
/T034/bin
/T034/obj
/T034.Api/bin
/T034.Api/obj
/publish

vgiik.suo
T034.Api/bin
T034.Api/obj
.vs/vgiik/v14/.suo
T034/Logs
Deploy
T034.Api/T034.Api.csproj.user
T034/Properties/PublishProfiles/Package.pubxml.user
T034/vgiik.csproj.user
vgiik.sln.DotSettings.user
.vs/config/applicationhost.config
.vs/
