@{
    ViewBag.Title = "Участники Сталинградской битвы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="presentation">
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="4">
                <img src="/Content/images/museum/room9/Портрет участника Сталинградской битвы Захарова Георгия Ильича - копия.jpg" alt="">
            </a>
            Захаров Г.И.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="5">
                <img src="/Content/images/museum/room9/Я до Берлина дошла! - копия.jpg" alt="">
            </a>
            Черноусова Е.П.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="11">
                <img src="/Content/images/museum/room9/Портрет участника Сталинградской битвы Полякова Ивана Гавриловича - копия.jpg" alt="">
            </a>
            Поляков И.Г.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="1">
                <img src="/Content/images/museum/room9/Портрет участника Сталинградской битвы Козлова А.В. - копия.jpg" alt="">
            </a>
            Козлов А.В.
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="2">
                <img src="/Content/images/museum/room9/Портрет Новикова Федора Васильевича - копия.jpg" alt="">
            </a>
            Новиков Ф.В.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="25">
                <img src="/Content/images/museum/room9/Портрет Крючек КС - копия.jpg" alt="...">
            </a>
            Крючек К.С.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="9">
                <img src="/Content/images/museum/room9/Портрет участницы Сталинградской битвы Манько Марии Сергеевны (1) - копия.jpg" alt="...">
            </a>
            Манько М.С.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="16">
                <img src="/Content/images/museum/room9/Жизнь продолжается! Портрет участника Сталинградской битвы Малетина Николая Яковлевича - копия.jpg" alt="">
            </a>
            Малетин Н.Я.
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="personModalLabel"></h4>
            </div>
            <div class="modal-body" id="modalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть</button>
            </div>
        </div>
    </div>
</div>
