@{
    ViewBag.Title = "ВГИИК - Ректорат";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="presentation">
    <div class="row">
        <div class="col-xs-6 col-md-2 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="17">
                <img src="/Content/images/people/17/foto/11-1-1.jpg" alt="">
            </a>
            Веденеев А.Г.
        </div>
        <div class="col-xs-6 col-md-2 text-center">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="18">
                <img src="/Content/images/people/18/foto/11-1-2.jpg" alt="">
            </a>
            Гущина Е.А.
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="36">
                <img src="/Content/images/people/36/foto/babkin.JPG" alt="...">
            </a>
            Бабкин М.В.
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="53">
                <img src="/Content/images/people/53/foto/rapeiko.png" alt="">
            </a>
            Рапейко И.Ю.
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="21">
                <img src="/Content/images/people/21/foto/11-1-6.jpg" alt="">
            </a>
            Юлпатова Е.Ю.
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="23">
                <img src="/Content/images/people/23/foto/11-2-2.jpg" alt="">
            </a>
            Половинко С.Н.
        </div>

    </div>

    <div class="row">
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="42">
                <img src="/Content/images/people/42/foto/kotelnikova.jpg" alt="">
             </a>
            Котельникова О.Ю.
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="35">
                <img src="/Content/images/people/35/foto/lukonina.jpg" alt="">
            </a>
            Луконина О.И.
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="54">
                <img src="/Content/images/people/54/foto/bashkatova.png" alt=""> </a>
            Башкатова С.Н.
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="22">
                <img src="/Content/images/people/22/foto/11-2-1.jpg" alt="">
            </a>
            Колесова Г.Ю.
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="56">
                <img src="/Content/images/people/56/foto/Скрипкина АН.png" alt="">
            </a>
            Скрипкина А.Н.
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="#" data-toggle="modal" data-target="#personModal" class="thumbnail" data-personid="55">
                <img src="/Content/images/people/55/foto/ulanovskaya.jpg" alt=""></a>
            Улановская Н.С.
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="personModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="personModalLabel"></h4>
            </div>
            <div class="modal-body" id="modalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть</button>
            </div>
        </div>
    </div>
</div>