@using T034.ViewModel
@{
    ViewBag.Title = "Спортивные достижения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Спортивные достижения</h2>

<div class="text">
    @{
        Html.RenderPartial("Carousel", new CarouselViewModel("/Content/images/sport/skd/", Server.MapPath("/Content/images/sport/skd/"), "Студенты факультета социально-культурной деятельности"));
    }
</div>