@{
    ViewBag.Title = "Участники Сталинградской битвы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="presentation-big">
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="1">
                <img src="/Content/images/museum/room9/Захаров ГИ.jpg" alt="">
            </a>
            Захаров Г.И.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="2">
                <img src="/Content/images/museum/room9/Черноусова ЕП.jpg" alt="">
            </a>
            Черноусова Е.П.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="3">
                <img src="/Content/images/museum/room9/Поляков ИГ.jpg" alt="">
            </a>
            Поляков И.Г.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="4">
                <img src="/Content/images/museum/room9/Козлов АВ.jpg" alt="">
            </a>
            Козлов А.В.
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="5">
                <img src="/Content/images/museum/room9/Новиков ФВ.jpg" alt="">
            </a>
            Новиков Ф.В.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="6">
                <img src="/Content/images/museum/room9/Крючек КС.jpg" alt="...">
            </a>
            Крючек К.С.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="7">
                <img src="/Content/images/museum/room9/Манько МС.jpg" alt="...">
            </a>
            Манько М.С.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="8">
                <img src="/Content/images/museum/room9/Малетин НЯ.jpg" alt="">
            </a>
            Малетин Н.Я.
        </div>
    </div>
</div>
<br>
<!-- Modal -->
<div class="modal fade" id="veteranModal" tabindex="-1" role="dialog" aria-labelledby="veteranModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="veteranModalLabel"></h4>
            </div>
            <div class="modal-body" id="modalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть</button>
            </div>
        </div>
    </div>
</div>
