@{
    ViewBag.Title = "Научно-методические достижения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="books">
	<a name="BooksMapAnchor"></a>
	<img src="/Content/pic/books.png" usemap="#BooksMap">
	<p>
		<map id="BooksMap" name="BooksMap">
			<area shape="poly" alt="" title="1" coords="179,49,284,47,282,200,170,200" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="1"/>
			<area shape="poly" alt="" title="2" coords="290,55,384,56,381,200,284,202,283,200" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="2"/>
			<area shape="poly" alt="" title="3" coords="385,52,478,53,480,200,380,201" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="3"/>
			<area shape="poly" alt="" title="4" coords="465,48,562,45,569,49,570,201,481,200,480,54,461,54" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="4"/>
			<area shape="poly" alt="" title="5" coords="572,61,652,62,656,200,570,200" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="5"/>
			<area shape="poly" alt="" title="6" coords="626,54,727,55,737,201,656,200,654,61,622,60" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="6"/>
			<area shape="poly" alt="" title="7" coords="184,218,289,221,293,221,293,227,262,227,259,372,168,370,183,232" href="#" target="" data-toggle="modal" data-target="#bookModal" data-id="7"/>
			<area shape="poly" alt="" title="8" coords="349,227,263,232,265,372,348,370" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="8"/>
			<area shape="poly" alt="" title="9" coords="349,229,413,229,412,370,349,372" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="9"/>
			<area shape="poly" alt="" title="10" coords="414,224,486,225,486,370,414,373,412,358" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="10"/>
			<area shape="poly" alt="" title="11" coords="486,225,554,225,556,372,486,372" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="11"/>
			<area shape="poly" alt="" title="12" coords="556,225,609,226,615,370,555,372" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="12"/>
			<area shape="poly" alt="" title="13" coords="610,222,718,224,728,370,617,369" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="13"/>
			<area shape="poly" alt="" title="14" coords="191,400,267,401,261,540,178,541" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="14"/>
			<area shape="poly" alt="" title="15" coords="268,400,339,401,335,541,259,540" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="15"/>
			<area shape="poly" alt="" title="16" coords="339,401,404,401,405,541,336,539,334,518" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="16"/>
			<area shape="poly" alt="" title="17" coords="405,401,474,402,475,540,404,539" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="17"/>
			<area shape="poly" alt="" title="18" coords="475,401,552,402,556,541,475,539" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="18"/>
			<area shape="poly" alt="" title="19" coords="554,399,614,399,623,541,555,541,553,529" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="19"/>
			<area shape="poly" alt="" title="20" coords="624,400,708,401,718,540,623,541,613,413" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="20"/>
			<area shape="poly" alt="" title="21" coords="190,563,243,564,233,714,175,714" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="21"/>
			<area shape="poly" alt="" title="22" coords="245,563,347,563,348,569,293,569,287,714,229,713" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="22"/>
			<area shape="poly" alt="" title="23" coords="369,568,294,571,287,715,366,715" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="23"/>
			<area shape="poly" alt="" title="24" coords="371,566,455,568,454,715,363,715,361,710" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="24"/>
			<area shape="poly" alt="" title="25" coords="456,564,522,565,522,565,526,713,456,714,455,702" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="25"/>
			<area shape="poly" alt="" title="26" coords="527,564,604,565,612,715,527,715" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="26"/>
			<area shape="poly" alt="" title="27" coords="607,563,712,564,724,715,613,714" href="#BooksMapAnchor" target="" data-toggle="modal" data-target="#bookModal" data-id="27"/>
			<!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
		</map>
	</p>
</div>
<div class="books">
	<a name="BooksMapAnchor2"></a>
	<img src="/Content/pic/books2.png" usemap="#BooksMap2">
	<p>
		<map id="BooksMap2" name="BooksMap2">
		    <area shape="poly" alt="" title="28" coords="181,56,241,55,232,164,191,163,190,202,164,202,180,55,187,56" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="28" />
		    <area shape="poly" alt="" title="29" coords="242,56,309,56,302,201,287,200,288,164,240,163" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="29" />
		    <area shape="poly" alt="" title="30" coords="309,54,392,54,389,202,299,201" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="30" />
		    <area shape="poly" alt="" title="31" coords="393,54,468,55,468,200,384,202" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="31" />
		    <area shape="poly" alt="" title="32" coords="469,54,550,55,551,202,466,205" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="32" />
		    <area shape="poly" alt="" title="33" coords="552,53,620,55,630,203,552,203" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="33" />
		    <area shape="poly" alt="" title="34" coords="725,54,622,56,630,203,737,204" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="34" />
		    <area shape="poly" alt="" title="35" coords="188,232,285,233,274,375,170,377" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="35" />
		    <area shape="poly" alt="" title="36" coords="287,225,389,227,386,375,280,374" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="36" />
		    <area shape="poly" alt="" title="37" coords="407,224,506,227,511,377,401,375" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="37" />
		    <area shape="poly" alt="" title="38" coords="520,227,609,225,623,335,582,334,584,372,523,375" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="38" />
		    <area shape="poly" alt="" title="39" coords="719,225,730,374,683,375,680,331,620,334,622,224" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="39" />
		    <area shape="poly" alt="" title="40" coords="179,395,286,395,280,503,189,506,187,539,168,541" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="40" />
		    <area shape="poly" alt="" title="41" coords="287,403,377,404,375,543,282,543" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="41" />
		    <area shape="poly" alt="" title="42" coords="378,396,482,397,485,543,376,543,377,482" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="42" />
            
			<area shape="poly" alt="" title="43" coords="493,388,551,389,556,539,492,539" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="43" />
			<area shape="poly" alt="" title="62" coords="556,389,613,384,622,500,583,503,586,540,558,541" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="62" />
		    <area shape="poly" alt="" title="44" coords="623,388,725,385,737,539,688,541,687,496,625,498" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="44" />
		    
			<area shape="poly" alt="" title="45" coords="177,568,269,569,266,680,188,679,187,718,164,717" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="45" />
		    <area shape="poly" alt="" title="46" coords="271,570,371,566,372,573,374,579,352,579,354,719,283,718,286,677,269,679" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="46" />
		    <area shape="poly" alt="" title="47" coords="439,576,354,580,354,717,438,717" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="47" />
		    <area shape="poly" alt="" title="48" coords="440,573,521,571,522,719,439,719" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="48" />
		    <area shape="poly" alt="" title="49" coords="522,569,616,571,622,715,523,719" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="49" />
		    <area shape="poly" alt="" title="50" coords="623,568,722,571,730,716,624,718" href="#BooksMapAnchor2" target="" data-toggle="modal" data-target="#bookModal" data-id="50" />
			<!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
		</map>
	</p>
</div>
<div class="books">
	<a name="BooksMapAnchor3"></a>
	<img src="/Content/pic/books3.png" usemap="#BooksMap3">
	<p>
		<map id="BooksMap3" name="BooksMap3">
			<area shape="poly" alt="" title="51" coords="178,45,250,46,249,192,164,194" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="51" />
			<area shape="poly" alt="" title="52" coords="260,46,332,42,330,191,248,190" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="52" />
			<area shape="poly" alt="" title="" coords="337,46,391,42,399,141,336,139" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="53" />
			<area shape="poly" alt="" title="" coords="404,47,472,41,475,190,464,193,461,139,405,143" href="" data-toggle="modal" data-target="#bookModal" data-id="54" />
			<area shape="poly" alt="" title="" coords="481,45,556,41,567,191,480,192" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="55" />
			<area shape="poly" alt="" title="" coords="571,46,615,42,622,193,573,193" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="56" />
			<area shape="poly" alt="" title="" coords="627,44,721,44,727,190,627,192" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="57" />
			<area shape="poly" alt="" title="" coords="171,214,235,210,239,366,167,366" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="58" />
			
			<area shape="poly" alt="" title="" coords="243,213,325,210,325,368,239,364" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="63" />
			<area shape="poly" alt="" title="" coords="330,213,401,216,404,365,329,367" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="64" />
			<area shape="poly" alt="" title="" coords="405,214,472,208,476,363,406,365" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="65" />
			<area shape="poly" alt="" title="" coords="479,216,545,215,549,361,480,361" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="66" />
			<area shape="poly" alt="" title="" coords="553,214,615,213,617,364,551,365" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="67" />
			<area shape="poly" alt="" title="" coords="619,215,717,213,728,367,620,364" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="68" />
			
			<area shape="poly" alt="" title="" coords="174,381,256,381,258,532,165,533" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="59" />
			<area shape="poly" alt="" title="" coords="263,385,347,384,354,533,262,534" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="60" />
			<area shape="poly" alt="" title="" coords="355,383,429,378,435,478,390,479,391,527,356,533" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="61" />
			
			<area shape="poly" alt="" title="" coords="439,383,524,382,530,535,518,534,514,479,438,484" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="69" />
			<area shape="poly" alt="" title="" coords="526,384,622,384,629,537,524,533" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="70" />
			<area shape="poly" alt="" title="" coords="630,386,722,384,729,535,624,536" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="71" />
			
			<area shape="poly" alt="" title="" coords="175,559,248,557,249,704,163,703,170,699" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="73" />
			<area shape="poly" alt="" title="" coords="255,557,340,555,341,707,251,703" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="74" />
			<area shape="poly" alt="" title="" coords="345,560,449,557,449,703,342,704" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="75" />
			<area shape="poly" alt="" title="" coords="451,555,543,555,547,705,451,706" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="76" />
			<area shape="poly" alt="" title="" coords="549,558,635,558,641,708,548,706" href="#BooksMapAnchor3" data-toggle="modal" data-target="#bookModal" data-id="77" />
			<!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
		</map>
	</p>
</div>
<!-- Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="bookModalLabel"></h4>
            </div>
            <div class="modal-body" id="modalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть</button>
            </div>
        </div>
    </div>
</div>
