@using T034.ViewModel
@{
    ViewBag.Title = "Выпускники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Выпускники</h3>


<h3>Журавлёва Л.В.</h3>

<div class="row">
    <div class="col-xs-6 col-md-2">
    </div>
    <div class="col-xs-6 col-md-8">
        <a rel="lightbox_s" href="/Content/images/museum/room5/zhuravleva/2011 г. 1 КУРС профессора О.Г. Никитенко. кафедра традиционной культуры.jpg" class="thumbnail">
            <img src="/Content/images/museum/room5/zhuravleva/2011 г. 1 КУРС профессора О.Г. Никитенко. кафедра традиционной культуры.jpg" alt="">
        </a>
        <div class="text text-center">
            2011 г. 1 КУРС профессора О.Г. Никитенко. кафедра традиционной культуры
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
    </div>
</div>
<div class="text text-center">
    <br>
    <p><a href="/Content/images/museum/room5/zhuravleva/2015 г. выпускница Л.В. Журавлёва профессора О.Г. Никитенко.docx" alt="...">2015 г. выпускница Л.В. Журавлёва профессора О.Г. Никитенко.docx</a></p>
    <br>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/qB0URdVe0YU" frameborder="0" allowfullscreen></iframe>
</div>


<h3>Соколов А.И.</h3>

<div class="row">
    <div class="col-xs-6 col-md-2">
    </div>
    <div class="col-xs-6 col-md-8">

    </div>
    <div class="col-xs-6 col-md-2">
    </div>
</div>
<div class="text text-center">
    <br>
    <p><a href="/Content/images/museum/room5/sokolov/НАШ ВЫПУСКНИК СОКОЛОВ А.И..docx" alt="...">НАШ ВЫПУСКНИК СОКОЛОВ А.И.</a></p>
    <br>
    <p>Алексей Соколов - Просто мираж (2013)</p>
    <audio controls>
        <source src="/Content/images/museum/room5/sokolov/Алексей Соколов - Просто мираж (2013).mp3" type="audio/mpeg">
        Тег audio не поддерживается вашим браузером.
        <a href="/Content/images/museum/room5/sokolov/Алексей Соколов - Просто мираж (2013).mp3">Скачайте музыку</a>.
    </audio>
    <br>
    <p>Алексей Соколов - Просто подари (2010)</p>
    <audio controls>
        <source src="/Content/images/museum/room5/sokolov/Алексей Соколов - Просто подари (2010).mp3" type="audio/mpeg">
        Тег audio не поддерживается вашим браузером.
        <a href="/Content/images/museum/room5/sokolov/Алексей Соколов - Просто подари (2010).mp3">Скачайте музыку</a>.
    </audio>
    <br>
    <p>Алексей Соколов - Снег (2011)</p>
    <audio controls>
        <source src="/Content/images/museum/room5/sokolov/Алексей Соколов - Снег (2011).mp3" type="audio/mpeg">
        Тег audio не поддерживается вашим браузером.
        <a href="/Content/images/museum/room5/sokolov/Алексей Соколов - Снег (2011).mp3">Скачайте музыку</a>.
    </audio>
</div>

<div class="text text-center">
    @{
        var path = string.Format("/Content/images/museum/room5/graduate/");
        Html.RenderPartial("Carousel", new CarouselViewModel(path, Server.MapPath(path), ""));
    }
</div>


<div class="text text-center">
    @{
        var p = string.Format("/Content/images/museum/room8/elizarova/");
        Html.RenderPartial("Carousel", new CarouselViewModel(p, Server.MapPath(p), "Елизарова Нина Васильевна – Заслуженный работник культуры России (27.01.1949 - 03.08.2016) – выпускница училища культуры 1970 года, ныне колледж Волгоградского государственного института искусств и культуры."));
    }
</div>