@{
    ViewBag.Title = "Наши участники Великой Отечественной войны";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="presentation-big">
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="1">
                <img src="/Content/images/museum/room9/Захаров ГИ.jpg" alt="">
            </a>
            Захаров Г.И.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="2">
                <img src="/Content/images/museum/room9/Черноусова ЕП.jpg" alt="">
            </a>
            Черноусова Е.П.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="3">
                <img src="/Content/images/museum/room9/Поляков ИГ.jpg" alt="">
            </a>
            Поляков И.Г.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="4">
                <img src="/Content/images/museum/room9/Козлов АВ.jpg" alt="">
            </a>
            Козлов А.В.
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="5">
                <img src="/Content/images/museum/room9/Новиков ФВ.jpg" alt="">
            </a>
            Новиков Ф.В.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="6">
                <img src="/Content/images/museum/room9/Крючек КС.jpg" alt="...">
            </a>
            Крючек К.С.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="7">
                <img src="/Content/images/museum/room9/Манько МС.jpg" alt="...">
            </a>
            Манько М.С.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="8">
                <img src="/Content/images/museum/room9/Малетин НЯ.jpg" alt="">
            </a>
            Малетин Н.Я.
        </div>
    </div>
</div>
<br>
<!-- Modal -->
<div class="modal fade" id="veteranModal" tabindex="-1" role="dialog" aria-labelledby="veteranModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="veteranModalLabel"></h4>
            </div>
            <div class="modal-body" id="modalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть</button>
            </div>
        </div>
    </div>
</div>
<div class="presentation-big">
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="10">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-02.jpg" alt="">
            </a>
            Кондрашова К. П.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="11">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-03.jpg" alt="">
            </a>
            Переходник Б.Г.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="25">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-04.jpg" alt="">
            </a>
            Холодков В.П.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="28">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-05.jpg" alt="">
            </a>
            Макеев Е.Г.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="14">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-06.jpg" alt="">
            </a>
            Шульгин А.В.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="15">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-07.jpg" alt="">
            </a>
            Тинин И.Г.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="17">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-08.jpg" alt="">
            </a>
            Илюшин А.А.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="32">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-09.jpg" alt="">
            </a>
            Корсунов К.К.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="19">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-10.jpg" alt="">
            </a>
            Урьев Г.Е.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="21">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-11.jpg" alt="">
            </a>
            Зотов Г.А.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="22">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-12.jpg" alt="">
            </a>
            Панфилов В.П.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="24">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-13.jpg" alt="">
            </a>
            Хлопова Г.И.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="27">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-15.jpg" alt="">
            </a>
            Щучкин П. Е.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="29">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-17.jpg" alt="">
            </a>
            Фролов А.И.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="30">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-18.jpg" alt="">
            </a>
            Герасимов Г.А.
        </div>
        <div class="col-xs-6 col-md-3 text-center">
            <a href="#" data-toggle="modal" data-target="#veteranModal" class="thumbnail" data-veteranid="33">
                <img src="/Content/images/museum/room9/VOV/презентация уч. и ветер. ВОв ВГИИК-19.jpg" alt="">
            </a>
            Кобликов В.Г.
        </div>
    </div>
</div>