@{
    ViewBag.Title = "Научно-методические достижения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="books">
	<img src="/Content/pic/books.png" usemap="#BooksMap">
	<p>
		<map id="BooksMap" name="BooksMap">
			<area shape="poly" alt="" title="1" coords="179,49,284,47,282,200,170,200" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="1"/>
			<area shape="poly" alt="" title="2" coords="290,55,384,56,381,200,284,202,283,200" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="2"/>
			<area shape="poly" alt="" title="3" coords="385,52,478,53,480,200,380,201" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="3"/>
			<area shape="poly" alt="" title="4" coords="465,48,562,45,569,49,570,201,481,200,480,54,461,54" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="4"/>
			<area shape="poly" alt="" title="5" coords="572,61,652,62,656,200,570,200" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="5"/>
			<area shape="poly" alt="" title="6" coords="626,54,727,55,737,201,656,200,654,61,622,60" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="6"/>
			<area shape="poly" alt="" title="7" coords="184,218,289,221,293,221,293,227,262,227,259,372,168,370,183,232" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="7"/>
			<area shape="poly" alt="" title="8" coords="349,227,263,232,265,372,348,370" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="8"/>
			<area shape="poly" alt="" title="9" coords="349,229,413,229,412,370,349,372" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="9"/>
			<area shape="poly" alt="" title="10" coords="414,224,486,225,486,370,414,373,412,358" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="10"/>
			<area shape="poly" alt="" title="11" coords="486,225,554,225,556,372,486,372" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="11"/>
			<area shape="poly" alt="" title="12" coords="556,225,609,226,615,370,555,372" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="12"/>
			<area shape="poly" alt="" title="13" coords="610,222,718,224,728,370,617,369" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="13"/>
			<area shape="poly" alt="" title="14" coords="191,400,267,401,261,540,178,541" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="14"/>
			<area shape="poly" alt="" title="15" coords="268,400,339,401,335,541,259,540" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="15"/>
			<area shape="poly" alt="" title="16" coords="339,401,404,401,405,541,336,539,334,518" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="16"/>
			<area shape="poly" alt="" title="17" coords="405,401,474,402,475,540,404,539" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="17"/>
			<area shape="poly" alt="" title="18" coords="475,401,552,402,556,541,475,539" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="18"/>
			<area shape="poly" alt="" title="19" coords="554,399,614,399,623,541,555,541,553,529" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="19"/>
			<area shape="poly" alt="" title="20" coords="624,400,708,401,718,540,623,541,613,413" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="20"/>
			<area shape="poly" alt="" title="21" coords="190,563,243,564,233,714,175,714" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="21"/>
			<area shape="poly" alt="" title="22" coords="245,563,347,563,348,569,293,569,287,714,229,713" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="22"/>
			<area shape="poly" alt="" title="23" coords="369,568,294,571,287,715,366,715" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="23"/>
			<area shape="poly" alt="" title="24" coords="371,566,455,568,454,715,363,715,361,710" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="24"/>
			<area shape="poly" alt="" title="25" coords="456,564,522,565,522,565,526,713,456,714,455,702" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="25"/>
			<area shape="poly" alt="" title="26" coords="527,564,604,565,612,715,527,715" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="26"/>
			<area shape="poly" alt="" title="27" coords="607,563,712,564,724,715,613,714" href="#" target="" data-toggle="modal" data-target="#myModal" data-id="27"/>
			<!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
		</map>
	</p>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body" id="modalBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var id = button.data('id'); // Extract info from data-* attributes
        
        $.ajax({
          url:"/Museum/Publication?id=" + id,
//              "@Url.Action("Person", "Archive", new { id = 3 })",
          cache: false
        })
        .done(function (html) {
          $("#modalBody").html(html);
        });;
    })

</script>