@model IEnumerable<T034.ViewModel.UserViewModel>

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.ActionLink("Добавить", "AddOrEdit", "User")
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Имя</th>
            <th>E-mail</th>
            <th>Операции</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Email</td>
        <td>@Html.ActionLink("Редактировать", "AddOrEdit", new { id = item.Id })</td>
      </tr>
    }
    </tbody>
</table>
