@using T034.ViewModel
@{
    ViewBag.Title = "Спортивные достижения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Спортивные достижения</h2>

<div class="text">
    @{
        var directory = new DirectoryInfo(Server.MapPath("/Content/images/sport/skd/"));
        var files = directory.GetFiles().Select(f => f.Name);
        var dpi = files.Select(file => new NodeViewModel { Path = "/Content/images/sport/skd/" + file, Description = "" });
        
        Html.RenderPartial("Carousel", new CarouselViewModel(dpi, "Студенты факультета социально-культурной деятельности"));
    }
</div>