@{
    ViewBag.Title = "Историческая справка о ВГИИК";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="text">
<img src="/Content/images/museum/1.png" alt="">
</p>

<p class="text">
    История ВГИИК ведет свое начало с довоенного десятилетия. В 1937 г. в соответствии с распоряжениями Совета Министров РСФСР и исполкома Сталинградского областного совета депутатов трудящихся был издан приказ «Об открытии в г. Сталинграде курсов культпросвет работников». Известно, что летом 1937 г. в Урюпинске была сформирована двухгодичная школа культпросвет работников. В Государственном архиве Волгоградской области, Центре документации новейшей истории Волгоградской области содержатся документы, которые свидетельствуют о том, что на базе этой школы «с 5 июня по 5 июля 1937 года проходили месячные областные курсы избачей и заведующих колхозными клубами». Курсанты повышали уровень политической и общехудожественной подготовки. В этом плане показателен учебный план курсов, в числе учебных дисциплин которого значатся  «История ВКП (б)», «Конституция СССР и РСФСР», «Литература русская», «Культпросвет работа», «Чтение политкарты мира», «Пленум ЦКВКП (б)». Повышение профессионализма способствовало стремительному развитию библиотечного дела в избах-читальнях, организации массовых праздников в сельских клубах.
</p>
<p class="text">
    Сразу после окончания Великой Отечественной войны, в 1945 г. Комитет по делам культурно-просветительных учреждений Сталинградской области постановил организовать школу культурно-просветительной направленности. 1949 год стал официальной датой открытия Урюпинской культпросвет школы Сталинградской области, выпускавшей работников культурно-просветительных учреждений– районных домов культуры, клубов, красных уголков, колхозных и городских библиотек. В справках отдела обкома ВКП(б) Сталинградской области значится, что созданная культпросвет школа призвана «повсеместно распространять наиболее удачные формы и методы организации разноплановой деятельности культурных учреждений».
</p>
<p class="text">
    Первый набор учащихся объединил семь учебных групп, которые обучались в трех небольших зданиях. На основании архивных материалов можно указать, что в 1952 г. руководителями школы были директор А.С. Яковлев, заведующий учебной частью – Е.И. Скрипов. В школе имелись библиотека с фондом 10704 экземпляров книг, пианино, баяны, щипковые инструменты.
</p>
<p class="text">
    В 1957 г. Урюпинская культпросвет школа Сталинградской области приказом Совета Министров РСФСР была переименована в Культпросвет школу Сталинградской области. В этом же году для нее было построено прекрасное величественное здание в стиле сталинского ампира, с внушительными колоннами и портиком (арх. Б. Г. Стрельченко) – здание настоящего института ВГИИК.  
</p>
<p class="text">
    <img src="/Content/images/people/kpk/1960.png" alt="">
</p>
<p class="text">
    Культпросвет Сталинградской области    явилась одной из первых в стране учебных заведений, специализирующихся на подготовке клубных работников. В 1957 г. она открыла свои двери для 60-ти учащихся – «будущих просветителей-специалистов клубного дела». Первым руководителем была Клавдия Петровна Кондрашова.
</p>
<p class="text">
    Архивы подтверждают, что в школе работали 16 преподавателей. Обучение велось по специальности «организатор и методист клубной работы», при этом срок обучения составлял три года. Студенты – учащиеся послевоенных лет – изучали общеобразовательные и специальные предметы, среди прочих обращают на себя внимание «Основы советского искусства», «Культпросветработа», «Плакатное дело», «Массовые игры и методика их проведения», «Библиотековедение», «Клубное дело». В послевоенный период восстановления народного хозяйства СССР весьма значимой дисциплиной являлись «Основы социалистического сельского хозяйства». В соответствии с велением времени развитого социалистического реализма в значительном объеме читались общественные дисциплины.
</p>
<p class="text">
    По документам можно проследить динамику развития этого культурного учреждения. Уже в 1957 г. выпускники Культпросветшколы проходят учебную и производственную практики. В начале 1960-х школа организует различные формы повышения квалификации – практикумы и ученичества для молодых библиотечных сотрудников, проводит выездные двухдневные семинары, на которых работает специальная секция по вопросам повышения квалификации. В эти годы Культпросветшкола Сталинградской области решает проблемы культурного строительства, развития досуговой деятельности учреждений культуры. Воспитанники школы участвуют в народных стройках, «патриотических починах», массовых субботниках и воскресниках.
</p>

<p class="text">
    Новый этап в истории нашего вуза связан с 1961 г., когда Культпросветшкола Сталинградской области была преобразована в Волгоградское областное культурно-просветительное училище. Появление в городе среднего специального учебного заведения художественного образования было вызвано необходимостью обеспечения кадрами учреждений культуры региона. Волгоградское областное культпросветучилище готовило специалистов социально-культурной сферы, выполняя важнейшую миссию – подготовку профессиональных кадров работников и руководителей учреждений культуры и творческих коллективов. Училище выпускало методистов-организаторов клубной работы, руководителей коллективов художественной самодеятельности, библиотекарей, библиографов, преподавателей. К середине 60-х годов из учащихся училища были созданы общий хор, драматический коллектив и танцевальная группа. Жизнь в училище кипела – концерты, спектакли, творческие встречи, зарождались новые традиции.
</p>
<p class="text">
    <img src="/Content/images/people/11/1.png" alt="">
</p>
<p class="text">
    В 1970-1980-х годах новый директор Владимир Моисеевич Петров способствовал открытию в Волгоградском областном культурно-просветительном училище четырех отделений: «Дирижерско-хорового», «Библиотечного», «Режиссерского», «Клубного дела». 
</p>

<p class="text">
    В объяснительной записке к учебному плану культурно-просветительного училища содержатся сведения, что в эти годы преподавались дисциплины «Клубное дело», «Библиотековедение», «Методика кружков художественной самодеятельности», «Культура речи», «Массовые игры и методика их проведения», «Технические средства культпросветработы», «Плакатное дело». Ведущие специалисты сегодняшнего вуза в 1970-х годах строили педагогическую карьеру. К примеру, начальник отдела практики, доцент Зоя Моисеевна Завьялова, захватывающе творчески вела предмет «Клубное дело». Ее ученица Зоя Павловна Тинина – ныне профессор ВГИИК, кандидат исторических наук – с успехом читала курс «Массовые игры и хоровая практика».
</p>

<p class="text">
    Помимо учебной работы, преподаватели занимались организацией праздников городского и областного уровней. Студенты участвовали в проведении первомайских праздников, мероприятий «А ну-ка, девушки», «А ну-ка, парни», «Проводы в Советскую армию», «Праздник русской зимы», отзывы о которых публикованы З.М. Завьяловой в сборнике «Человек рожден для счастья», газете «Волгоградская правда». Популярной стала конференция «Читатели журнала “Культпросветработа”», на которую приглашались редактор этого журнала А.И. Лютер, руководящие работники Волгоградской области.
</p>

<p class="text">
    Совершенствуясь и развиваясь, накапливая опыт, Волгоградское областное культпросветучилище в начале 1990 г. вошло в число лучших по России средних профессиональных учебных заведений культуры. В перестроечный период, в 1992 г., на базе Волгоградского училища культуры был создан Волгоградский филиал Самарской государственной академии культуры и искусств (СГАКИ). С этого года начинается стремительное развитие вуза во всех направлениях деятельности, новыми темпами осуществляется дальнейшая интеграция в мировую музыкальную и художественную культуру.Один из первых учебных заведений в России ВГИИК перешел на многоступенчатую систему подготовки кадров, в которой непрерывность образования обеспечивают три взаимосвязанные ступени: школа искусств, училище искусств и культуры и институт искусств и культуры. В этот период во многом обновился педагогический состав: пришли перспективные преподаватели, обучающиеся в аспирантурах, ассистентурах разных городов России. Это способствовало формированию в молодом вузе высоких критериев профессиональной деятельности и наращиванию его потенциала. Проводятся научные конференции, открываются новые специальности, образуются творческие коллективы.
</p>

<p class="text">
    <img src="/Content/images/museum/1970.png" alt="">
</p>
<p class="text">
    <img src="/Content/images/museum/1992.png" alt="">
</p>
<p class="text">
    <img src="/Content/images/museum/1992_2.png" alt="">
</p>
<p class="text">
    В 1999 г. преемником Волгоградского филиала Самарской государственной академии культуры и искусств стал самостоятельный вуз – Волгоградский государственный институт искусств и культуры (основан постановлением Главы администрации Волгоградской области). Значительно увеличились эффективность и повышение качества образовательной, творческой, научной работы вуза в целом. С 1992 по 2013 гг. более 40 преподавателей защитили кандидатские диссертации, более 50 педагогов стали обладателями Почетных званий, более 100 – победителями всероссийских и международных конкурсов. В институте формируются различные творческие коллективы – оркестры, хоры, ансамбли; проводятся фестивали, конкурсы, симпозиумы, конгрессы, научно-практические семинары и конференции. Авторитет вуза в образовательной, научной и культурной жизни Волгоградской области неустанно растет.
</p>
<p class="text">
    В настоящее время ВГИИК представляет собой крупный центр творческого образования и художественной культуры Волгоградской области, демонстрируя модель вуза культуры и искусств третьего тысячелетия. 
</p>
<p class="text">
    <img src="/Content/images/museum/1990.png" alt="">
</p>
<p class="text">
    <img src="/Content/images/museum/1990_2.png" alt="">
</p>
<p class="text">
    <img src="/Content/images/museum/1971.png" alt="">
</p>
<p class="text">
    Студенты отделения "Кино-фото-видео творчество"(прием 1971г.) на уборке урожая совхоза "Пригородный Светлоярского района. Сидит вторая справа - комсорг группы Л. И. Иванцова (Крючек)
</p>



