@{
    ViewBag.Title = "Они были первыми";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Они были первыми</h2>

@*<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")" type="text/javascript"></script>

<textarea id="my-textarea"></textarea>
<script>
    $(function () {
        $('#my-textarea').ckeditor();
    });
</script>*@