<ul class="nav nav-tabs">
    <li>@Html.ActionLink("3D объекты", "SubjectList", "Admin")</li>
    <li>@Html.ActionLink("3D принтеры", "PrinterList", "Admin")</li>
    <li>@Html.ActionLink("Пластик", "MaterialList", "Admin")</li>
</ul>