@model List<T034.ViewModel.DepartmentViewModel>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingDepartment">
        <h5 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDepartment" aria-expanded="false" aria-controls="collapseDepartment">
                Отделы Волгоградского государственного института искусств и культуры
            </a>
        </h5>
    </div>
    <div id="collapseDepartment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDepartment">
        <div class="panel-body">
            <div class="list-group">
                @foreach (var item in Model)
                {
                    @Html.ActionLink(item.Name, "Department", "Archive", new { departmentId = item.Id }, new { @class = "list-group-item" })    
                }
            </div>
        </div>
    </div>
</div>
