@model List<T034.Api.Entity.Vgiik.Person>

<div class="panel-body">
    <div class="list-group">
        @foreach (var person in Model)
        {
            @Html.ActionLink(person.FullName, "Person", "Archive", new { personId = person.Id }, new { @class = "list-group-item" })    
        }
    </div>
</div>
