

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
        <h5 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Исторические фотодокументы Волгоградского государственного института искусств и культуры
            </a>
        </h5>        
    </div>
<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
<div class="panel-body">
<!-- 1930 - 1940-->
<h3>1930-1940</h3>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/7.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/7.jpg" alt="">
        </a>
        1-й ряд 1- слева - Черкасов Николай Денисович-литератор. 2-й ряд 1-й справа-Кобликов Владимир Герасимович-дирижёр, музыкант, 4-я слева-Кондрашова Клавдия Петровна, 5-й слева-Переходник Борис Григорьевич
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП1.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП1.jpg" alt="">
        </a>
        1938 г. Иловлинский район Сталинградской области, колхоз «Пролетарий» (2-й ряд, 5-й слева) Антон Иванович Фетисов – отец мужа Фетисовой (Казачихиной) Анфисы Петровны.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП2.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП2.jpg" alt="">
        </a>
        1942 г. Германия – 3-я слева Казачихина Александра Петровна (сестра Анфисы Петровны) в эвакуации работает у немецкого фермера.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП3.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП3.jpg" alt="">
        </a>
        1948 г. (слева направо) – младший сын Анфисы Петровны Михаил Михайлович, бабушка мужа Анфисы Петровны Елена Филаретьевна, старший сын Анфисы Петровны Юрий Михайлович.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП4.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП4.jpg" alt="">
        </a>
        1949 г. семья Фетисовых (слева направо): муж Михаил Антонович, старший сын Юрий Михайлович, жена Анфиса Петровна.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/3.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/3.jpg" alt="">
        </a>
        Переходник Борис Григорьевич сельхоз.техн-м Ставропольского края 1944-47 г.
    </div>
</div>
<!-- 1950-->
<h3>1950</h3>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП5.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП5.jpg" alt="">
        </a>
        1954 г. (слева направо) сестра Анфисы Петровны Александра Петровна, мама Анфисы Петровны Наталья Николаевна Карачихина.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП6.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП6.jpg" alt="">
        </a>
        1956 г. (слева направо) старший сын Юрий Михайлович, мать семейства Анфиса Петровна, средний сын Михаил Михаил Михайлович, младший сын Сергей Михайлович.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП7.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП7.jpg" alt="">
        </a>
        07.11.1957 г. город Сталинград. Коллектив Сталинградской областной библиотеки им. М. Горького. Слева, 1-й ряд, 1-я Фетисова Анфиса Петровна.
    </div>

    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/9.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/9.jpg" alt="">
        </a>
        19.03.1954. Москва. МГБИ. слева направо Переходник Борис Григорьевич, сын Андрей, Переходник Анна Николаевна - жена
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/8.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/8.jpg" alt="">
        </a>
        1957 г. супруги Пререходник Борис Григорьевич, Анна Николаевна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1959 г. На студентческом вечере. Юмористический бокс.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1959 г. На студентческом вечере. Юмористический бокс.jpg" alt="">
        </a>
        1959 г. На студентческом вечере. Юмористический бокс
    </div>
</div>

<!-- 1960-->
<h3>1960</h3>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1.jpg" alt="">
        </a>
        Фотодокументы Волгоградского училища культуры
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/5.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/5.jpg" alt="">
        </a>
        Краснодарский край, август 1967 станция жд Советская супруги Переходник Борис Григорьевич и Анна Николаевна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1960 г. праздни работников культуры в драм. театре М. Горького. 2-й ряд. 3-я срава -Кондрашова К.П..jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1960 г. праздни работников культуры в драм. театре М. Горького. 2-й ряд. 3-я срава -Кондрашова К.П..jpg" alt="">
        </a>
        1960 г. праздник работников культуры в драм. театре М. Горького. 2-й ряд. 3-я справа - Кондрашова Клавдия Петровна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1967 г. отчётный колнцерт группы хореографов КПУ.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1967 г. отчётный колнцерт группы хореографов КПУ.jpg" alt="">
        </a>
        1967 г. отчётный концерт группы хореографов КПУ
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1967 г. праздник проводы Русской Зимы. В роли Зимы Петрова Зоя.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1967 г. праздник проводы Русской Зимы. В роли Зимы Петрова Зоя.jpg" alt="">
        </a>
        1967 г. праздник проводы Русской Зимы. В роли Зимы Петрова Зоя
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1967 г. Приём спектакля в КПУ. В приёмной комиссии слева направо - Селезнёва Н.И., Герасимов Г.А., Переходник А.Н., Крюкова Е.Г., Илюшин А.А., Радчик Б.И., Казьмина А.И..jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1967 г. Приём спектакля в КПУ. В приёмной комиссии слева направо - Селезнёва Н.И., Герасимов Г.А., Переходник А.Н., Крюкова Е.Г., Илюшин А.А., Радчик Б.И., Казьмина А.И..jpg" alt="">
        </a>
        1967 г. Приём спектакля в КПУ. В приёмной комиссии слева направо - Селезнёва Н.И., Герасимов Г.А., Переходник А.Н., Крюкова Е.Г., Илюшин А.А., Радчик Б.И., Казьмина А.И.
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1967. КПУ на демонстрации в 50-летие годовщины Великого Октября.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1967. КПУ на демонстрации в 50-летие годовщины Великого Октября.jpg" alt="">
        </a>
        1967. КПУ на демонстрации в 50-летие годовщины Великого Октября
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1968 г. фрагмент свадьбы выпускников группы Кондрашовой К.П..jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1968 г. фрагмент свадьбы выпускников группы Кондрашовой К.П..jpg" alt="">
        </a>
        1968 г. фрагмент свадьбы выпускников группы Кондрашовой Клавдии Петровны
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП8.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП8.jpg" alt="">
        </a>
        1960 г. Берег Волги. Семья Фетисовых на отдыхе: отец семейства Михаил Антонович и мать семейства Анфиса Петровна с сыновьями.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП9.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП9.jpg" alt="">
        </a>
        1963 г. город Москва. Старший сын в армии. Солдат Юрий Михайлович 1-й слева.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП10.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП10.jpg" alt="">
        </a>
        1964 г. Коллектив Волгоградской областной библиотеки им. М. Горького. 2-й ряд, 3-я слева Фетисова Анфиса Петровна.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1963 г. отзывы4.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1963 г. отзывы4.jpg" alt="">
        </a>
        1963 г. Отзыв.
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1965 г. отзывы об учащихся КПШ и КПУ.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1965 г. отзывы об учащихся КПШ и КПУ.jpg" alt="">
        </a>
        1965 г. отзывы об учащихся КПШ и КПУ
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1965 г. отзывы2.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1965 г. отзывы2.jpg" alt="">
        </a>
        1965 г. Отзыв.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1965 г. отзывы3.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1965 г. отзывы3.jpg" alt="">
        </a>
        1965 г. Отзыв.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1967 г. отзывы5.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1967 г. отзывы5.jpg" alt="">
        </a>
        1967 г. Отзыв.
    </div>
</div>
<!-- 1970-->
<h3>1970</h3>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/4.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/4.jpg" alt="">
        </a>
        Переходник Борис Григорьевич на встрече с ветеранами в музее ИЗО г. Волгоград, 1975
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/10.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/10.jpg" alt="">
        </a>
        Переходник Борис Григорьевич на встрече с ветеранами в музее ИЗО г. Волгоград, 1975.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kpk/1970. ККП в кабинете.jpg" class="thumbnail">
            <img src="/Content/images/people/kpk/1970. ККП в кабинете.jpg" alt="">
        </a>
        Кондрашова Клавдия Петровна в кабинете. 1970 г.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kpk/архив Кондрашовой К.П.16.jpg" class="thumbnail">
            <img src="/Content/images/people/kpk/архив Кондрашовой К.П.16.jpg" alt="">
        </a>
        В день вручения грамоты "Заслуженный работник культуры РСФСР" Кондрашовой Клавдии Петровне
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kpk/архив Кондрашовой К.П.16_1.jpg" class="thumbnail">
            <img src="/Content/images/people/kpk/архив Кондрашовой К.П.16_1.jpg" alt="">
        </a>
        Вручение грамоты "Заслуженный работник культуры РСФСР" Кондрашовой Клавдии Петровны заместителем председателя по культуре Областного Совета Народных депутатов Усковым Виталием Степановичем 1973 г.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1970 г. вечер в группе хорового дирижирования. Фото И. Хавньшева.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1970 г. вечер в группе хорового дирижирования. Фото И. Хавньшева.jpg" alt="">
        </a>
        1970 г. вечер в группе хорового дирижирования. Фото И. Хавньшева
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1970 г. Праздник Нептуна на р. Волге. Ведущая справа от Нептуна преподаватель КПУ Петрова Зоя Павловна.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1970 г. Праздник Нептуна на р. Волге. Ведущая справа от Нептуна преподаватель КПУ Петрова Зоя Павловна.jpg" alt="">
        </a>
        1970 г. Праздник Нептуна на р. Волге. Ведущая справа от Нептуна преподаватель КПУ Петрова Зоя Павловна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1971 г. Концерт в КПУ, посвящённый 8 марта.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1971 г. Концерт в КПУ, посвящённый 8 марта.jpg" alt="">
        </a>
        1971 г. Концерт в КПУ, посвящённый 8 марта
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1972 г. Детская ёлка в ДК Кирова г. Волгоград. старший массовик, преподаватель КПУ 1-я справа Петрова Зоя Павловна.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1972 г. Детская ёлка в ДК Кирова г. Волгоград. старший массовик, преподаватель КПУ 1-я справа Петрова Зоя Павловна.jpg" alt="">
        </a>
        1972 г. Детская ёлка в ДК Кирова г. Волгоград. старший массовик, преподаватель КПУ 1-я справа Петрова Зоя Павловна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1972 г. ДК им. С.М. Кирова. г. Волгоград. Зав. массовым отделом Петрова Зоя Павловна.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1972 г. ДК им. С.М. Кирова. г. Волгоград. Зав. массовым отделом Петрова Зоя Павловна.jpg" alt="">
        </a>
        1972 г. ДК им. С.М. Кирова. г. Волгоград. Зав. массовым отделом Петрова Зоя Павловна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1972 г. Зрительный зал. КПУ на  спектакле.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1972 г. Зрительный зал. КПУ на  спектакле.jpg" alt="">
        </a>
        1972 г. Зрительный зал. КПУ на спектакле
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1972 г. Отчётный концерт в КПУ. поёт студентка-заочница, преподаватель КПУ Петрова Зоя, дирижирует преподаватель по дирижированию в КПУ Кобликов Владимир.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1972 г. Отчётный концерт в КПУ. поёт студентка-заочница, преподаватель КПУ Петрова Зоя, дирижирует преподаватель по дирижированию в КПУ Кобликов Владимир.jpg" alt="">
        </a>
        1972 г. Отчётный концерт в КПУ. поёт студентка-заочница, преподаватель КПУ Петрова Зоя, дирижирует преподаватель по дирижированию в КПУ Кобликов Владимир
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1972 г. Отчётный концерт2 в КПУ. поёт студентка-заочница, преподаватель КПУ Петрова Зоя, дирижирует преподаватель по дирижированию в КПУ Кобликов Владимир.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1972 г. Отчётный концерт2 в КПУ. поёт студентка-заочница, преподаватель КПУ Петрова Зоя, дирижирует преподаватель по дирижированию в КПУ Кобликов Владимир.jpg" alt="">
        </a>
        1972 г. Отчётный концерт в КПУ. поёт студентка-заочница, преподаватель КПУ Петрова Зоя, дирижирует преподаватель по дирижированию в КПУ Кобликов Владимир
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1973 г. День первокурсника.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1973 г. День первокурсника.jpg" alt="">
        </a>
        1973 г. День первокурсника
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1973 г. Детская ёлка в ДК Кирова г. Волгоград. 1-я слева преподаватель КПУ, старший массовик Петрова Зоя.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1973 г. Детская ёлка в ДК Кирова г. Волгоград. 1-я слева преподаватель КПУ, старший массовик Петрова Зоя.jpg" alt="">
        </a>
        1973 г. Детская ёлка в ДК Кирова г. Волгоград. 1-я слева преподаватель КПУ, старший массовик Петрова Зоя
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1974 г.  Областные курсы повышения квалификации. г. Волгоград. 4-й справа преподаватель КПУ Тинин Иван Григорьевич.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1974 г.  Областные курсы повышения квалификации. г. Волгоград. 4-й справа преподаватель КПУ Тинин Иван Григорьевич.jpg" alt="">
        </a>
        1974 г. Областные курсы повышения квалификации. г. Волгоград. 4-й справа преподаватель КПУ Тинин Иван Григорьевич
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1975 г. педагог КПУ Литвинова Валентина Станиславовна (последний совет перед выходом на сцену).jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1975 г. педагог КПУ Литвинова Валентина Станиславовна (последний совет перед выходом на сцену).jpg" alt="">
        </a>
        1975 г. педагог КПУ Литвинова Валентина Станиславовна (последний совет перед выходом на сцену)
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1977 г. Выступление режиссёрской группы студентов КПУ.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1977 г. Выступление режиссёрской группы студентов КПУ.jpg" alt="">
        </a>
        1977 г. Выступление режиссёрской группы студентов КПУ
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1979 г. Народный театр ДК Кирова г. Волгоград. Фрагменты спектакля Барабанщица. Роль Барабанщицы играет преподаватель КПУ Петрова Зоя.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1979 г. Народный театр ДК Кирова г. Волгоград. Фрагменты спектакля Барабанщица. Роль Барабанщицы играет преподаватель КПУ Петрова Зоя.jpg" alt="">
        </a>
        1979 г. Народный театр ДК Кирова г. Волгоград. Фрагменты спектакля Барабанщица. Роль Барабанщицы играет преподаватель КПУ Петрова Зоя
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП11.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП11.jpg" alt="">
        </a>
        1978 г. город Донецк. Казачихина Наталья Николаевна – мама Фетисовой Анфисы Петровны.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП12.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП12.jpg" alt="">
        </a>
        1975 г. город Волгоград. Супруги Фетисовы: Михаил Антонович, Анфиса Петровна.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП13.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП13.jpg" alt="">
        </a>
        1974 г. город Волгоград. У ворот училища культуры (слева направо): зав. по учебной работе Кондрашова Клавдия Петровна, библиотекарь и преподаватель Фетисова Анфиса Петровна, преподаватель библиографии Клестова Маргарита Афанасьевна.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП14.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП14.jpg" alt="">
        </a>
        1974 г. город Волгоград. У ворот училища культуры (слева направо): библиотекарь и преподаватель Фетисова Анфиса Петровна, преподаватель библиографии Клестова Маргарита Афанасьевна, зав. по учебной работе Кондрашова Клавдия Петровна.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП15.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП15.jpg" alt="">
        </a>
        1974. Город Волгоград. Экзамен в училище культуры. Экзаменаторы слева направо: Клестова Маргарита Афанасьевна, Фетисова Анфиса Петровна.
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП16.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП16.jpg" alt="">
        </a>
        1973 г. город Волгоград. Экскурсия на Мамаевом кургане, 11-я слева Фетисова Анфиса Петровна.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП17.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП17.jpg" alt="">
        </a>
        1972 г. Волгоградское училище культуры, вечер поэзии. 4-я слева зав. учебной работы Кондрашова Клавдия Петровна, 5-я слева – преподаватель Фетисова Анфиса Петровна.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194840.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194840.jpg" alt="">
        </a>
        1971 г. В гостях: Пуговкин Михаил Иванович - советский и российский актёр театра и кино (в центре) среди студентов КПУ Волгоградской области.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194830.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194830.jpg" alt="">
        </a>
        1970 г. В гостях: Фёдорова Зоя Алексеевна - советская киноактриса, Заслуженная артистка РСФСР, лауреат двух Сталинский премий второй степени (в центре); слева - директор КПУ Волгоградской области Петров Владимир Моисеевич; справа - зам. директора по учебно-воспитательной работе КПУ Волгоградской области Кондрашова Клавдия Петровна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194820.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194820.jpg" alt="">
        </a>
        1970 г. Актриса Фёдорова Зоя Алексеевна выступает в КПУ Волгоградской области.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/6.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/6.jpg" alt="">
        </a>
        1975 г. Выступление на научно-практической конференции главного редактора журнала "Культпросветработа" Лютера Анатолия Ивановича
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194748.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194748.jpg" alt="">
        </a>
        1975 г. Справа Хатеева Маргарита Ивановна - преподаватель, слева - Лютер Анатолий Иванович - редактор журнала "Культпросветработа". Научно-практическая конференция. В центре директор КПУ Волгоградской области Петров Владимир Моисеевич.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194738.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194738.jpg" alt="">
        </a>
        1972 г.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194724.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194724.jpg" alt="">
        </a>
        1971 г.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194711.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194711.jpg" alt="">
        </a>
        1971 г.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194652.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194652.jpg" alt="">
        </a>
        1971 г. Демонстрация. 1-й ряд 2-й слева будущий ректор Волгоградского государственного института искусств и культуры Крючек Виктор Кириллович.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194531.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194531.jpg" alt="">
        </a>
        1975 г. г. Калач. Совещание с работниками городского отдела культуры. 1-й в 1-м ряду справа Директор культпросвет училища Петров Владимир Моисеевич
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194518.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194518.jpg" alt="">
        </a>
        1973 г. Петров Владимир Моисеевич - директор культпросвет училища.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194502.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194502.jpg" alt="">
        </a>
        1973 г. Петров Владимир Моисеевич - директор культпросвет училища.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1972 г. отзывы6.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1972 г. отзывы6.jpg" alt="">
        </a>
        1972 г. Отзыв.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1972 г. отзывы7.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1972 г. отзывы7.jpg" alt="">
        </a>
        1973 г. Отзыв.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kruchek/foto/ФОТО1 КРЮЧЕКА Виктора Кирилловича.jpg" class="thumbnail">
            <img src="/Content/images/people/kruchek/foto/ФОТО1 КРЮЧЕКА Виктора Кирилловича.jpg" alt="">
        </a>
        Июнь, 1971 г. Виктор Кириллович Крючек (стоит слева) - председатель государственной экзаменационной комиссии Краснодарского Государственного института культуры.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kruchek/foto/ФОТО2 КРЮЧЕКА Виктора Кирилловича.jpg" class="thumbnail">
            <img src="/Content/images/people/kruchek/foto/ФОТО2 КРЮЧЕКА Виктора Кирилловича.jpg" alt="">
        </a>
        7 ноября 1971 г. г. Волгоград, демонстрация. Виктор Кириллович Крючек в окружении (слева) Татьяна Шитова, (справа) Иванцова Лидия.
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kruchek/foto/ФОТО3 КРЮЧЕКА Виктора Кирилловича.jpg" class="thumbnail">
            <img src="/Content/images/people/kruchek/foto/ФОТО3 КРЮЧЕКА Виктора Кирилловича.jpg" alt="">
        </a>
        1972/1973 гг. г. Волгоград, площадь Чекистов. Слева направо: Виктор Кириллович Крючек, ст. сержант Рябоконь.
    </div>
</div>
<!-- 1980-->
<h3>1980</h3>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/2.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/2.jpg" alt="">
        </a>
        Семья Переходник-Оля внучка, Переходник Борис Григорьевич дедушка, Переходник Анна Николаевна бабушка 1985
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1980 г. Детская ёлка во Дворце Спорта. Справа 2-я - старший массовик Петрова Зоя.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1980 г. Детская ёлка во Дворце Спорта. Справа 2-я - старший массовик Петрова Зоя.jpg" alt="">
        </a>
        1980 г. Детская ёлка во Дворце Спорта. Справа 2-я - старший массовик Петрова Зоя
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1980 г. ДК Профсоюзов. г. Волгоград. слева - директор Маркина Юлия Ивановна, в центре - зав. отделом по патриотическому воспитанию Петрова Зоя Павловна.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1980 г. ДК Профсоюзов. г. Волгоград. слева - директор Маркина Юлия Ивановна, в центре - зав. отделом по патриотическому воспитанию Петрова Зоя Павловна.jpg" alt="">
        </a>
        1980 г. ДК Профсоюзов. г. Волгоград. слева - директор Маркина Юлия Ивановна, в центре - зав. отделом по патриотическому воспитанию Петрова Зоя Павловна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1980 г. Народный театр ДК Кирова г. Волгоград. Фрагменты спектакля Москва-Париж-Москва. Роль Жюстины играет преподаватель КПУ Петрова Зоя.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1980 г. Народный театр ДК Кирова г. Волгоград. Фрагменты спектакля Москва-Париж-Москва. Роль Жюстины играет преподаватель КПУ Петрова Зоя.jpg" alt="">
        </a>
        1980 г. Народный театр ДК Кирова г. Волгоград. Фрагменты спектакля Москва-Париж-Москва. Роль Жюстины играет преподаватель КПУ Петрова Зоя
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1982 г. ДК  Обл. Сов. Волгоградских профс-ов. Справа налево - Офицерова Людмила Николаевна - зав. масс. отделом, Петрова Зоя Павловна - зав. отделом патриотич-го воспитания.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1982 г. ДК  Обл. Сов. Волгоградских профс-ов. Справа налево - Офицерова Людмила Николаевна - зав. масс. отделом, Петрова Зоя Павловна - зав. отделом патриотич-го воспитания.jpg" alt="">
        </a>
        1982 г. ДК Обл. Сов. Волгоградских профс-ов. Справа налево - Офицерова Людмила Николаевна - зав. масс. отделом, Петрова Зоя Павловна - зав. отделом патриотич-го воспитания
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ 2.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ 2.jpg" alt="">
        </a>
        1982 г. Отчётный концерт КПУ 2
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ в Доме Офицеров г. Волгоград..jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ в Доме Офицеров г. Волгоград..jpg" alt="">
        </a>
        1982 г. Отчётный концерт КПУ в Доме Офицеров г. Волгоград.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ. Дирижёр Гридин Владимир Васильевич.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ. Дирижёр Гридин Владимир Васильевич.jpg" alt="">
        </a>
        1982 г. Отчётный концерт КПУ. Дирижёр Гридин Владимир Васильевич
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ. дирижёр Михайлова Ольга Наумовна.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ. дирижёр Михайлова Ольга Наумовна.jpg" alt="">
        </a>
        1982 г. Отчётный концерт КПУ. дирижёр Михайлова Ольга Наумовна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ. Поёт Нина Елизарова.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1982 г. Отчётный концерт КПУ. Поёт Нина Елизарова.jpg" alt="">
        </a>
        1982 г. Отчётный концерт КПУ. Поёт Нина Елизарова
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1983 г. Мамаев Курган. Экскурсию ведёт профессор ВГИИК Тинина Зоя Павловна.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1983 г. Мамаев Курган. Экскурсию ведёт профессор ВГИИК Тинина Зоя Павловна.jpg" alt="">
        </a>
        1983 г. Мамаев Курган. Экскурсию ведёт профессор ВГИИК Тинина Зоя Павловна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/1983 г. Традиционное ежегодное заседание клуба друзей журнала культ. просвет. работы. Организаторы Переходник Борис Григорьевич и Анна Николаевна.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/1983 г. Традиционное ежегодное заседание клуба друзей журнала культ. просвет. работы. Организаторы Переходник Борис Григорьевич и Анна Николаевна.jpg" alt="">
        </a>
        1983 г. Традиционное ежегодное заседание клуба друзей журнала культ. просвет. работы. Организаторы Переходник Борис Григорьевич и Анна Николаевна
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП18.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП18.jpg" alt="">
        </a>
        1988 г. Дмитрий Кондратьевич – участник войны, двоюродный брат Фетисова Михаила Антоновича.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194639.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194639.jpg" alt="">
        </a>
        1985 г. КПУ Астрахань. Практическая конференция. 2-й ряд, 2-й слева Петров Владимир Моисеевич - директор КПУ Волгоградской области.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194615.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194615.jpg" alt="">
        </a>
        1983 г. Татарстан КПУ. Практическая конференция по вопросам культурно-просветительной деятельности. 1-й ряд, 2-й слева Петров Владимир Моисеевич - директор КПУ Волгоградской области.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194603.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194603.jpg" alt="">
        </a>
        1985 г. г. Волгоград, Мамаев Курган. Ректор Самарского института культуры и искусств - Кузьмин Иван Максимович (2-й слева). 1-й слева Директор училища культуры Петров Владимир Моисеевич
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150601_194549.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150601_194549.jpg" alt="">
        </a>
        1985 г. г. Ульяновск. Научно-просветительная конференция по проблемам культурно-просветительной работы. 2-й слева Директор культпросвет училища Петров Владимир Моисеевич
    </div>
</div>
<!-- 1990-->
<h3>1990</h3>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kruchek/foto/ФОТО4 КРЮЧЕКА Виктора Кирилловича.jpg" class="thumbnail">
            <img src="/Content/images/people/kruchek/foto/ФОТО4 КРЮЧЕКА Виктора Кирилловича.jpg" alt="">
        </a>
        1992 г. г. Волгоград. Открытие филиала Саратовского государственного института искусств и культуры (СГИИК). На фото (слева направо) директор филиала Виктор Кириллович Крючек, проректор СГИИК Стахорский в окружении учащихся I ступени филиала СГИИК.
    </div>

</div>
<!-- 2000-->
<h3>2000</h3>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/2008 г. июнь.  Ольховка Волгоградской области. Профессор ВГИИК после преподавания у заочников ВГИИК играет с местной собакой  по имени РЭКС.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/2008 г. июнь.  Ольховка Волгоградской области. Профессор ВГИИК после преподавания у заочников ВГИИК играет с местной собакой  по имени РЭКС.jpg" alt="">
        </a>
        2008 г. июнь. Ольховка Волгоградской области. Профессор ВГИИК после преподавания у заочников ВГИИК играет с местной собакой по имени РЭКС
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/11-2-5.JPG" class="thumbnail">
            <img src="/Content/images/people/24/foto/11-2-5.JPG" alt="">
        </a>
        Руководитель ОППТ ВГИИК Тинина Зоя Павловна 2014 г.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/2.jpg" class="thumbnail">
            <img src="/Content/images/people/24/foto/2.jpg" alt="">
        </a>
        04.12.2014 занятия по всеобщей истории. Ведёт проф. Зоя Павловна Тинина
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/3.jpg" class="thumbnail">
            <img src="/Content/images/people/24/foto/3.jpg" alt="">
        </a>
        04.12.2014 занятия по всеобщей истории. Ведёт проф. Зоя Павловна Тинина
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/4.jpg" class="thumbnail">
            <img src="/Content/images/people/24/foto/4.jpg" alt="">
        </a>
        04.12.2014 занятия по всеобщей истории. Ведёт проф. Зоя Павловна Тинина
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/5.jpg" class="thumbnail">
            <img src="/Content/images/people/24/foto/5.jpg" alt="">
        </a>
        04.12.2014 занятия по религиоведению. Ведёт проф. Зоя Павловна Тинина
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/6.jpg" class="thumbnail">
            <img src="/Content/images/people/24/foto/6.jpg" alt="">
        </a>
        04.12.2014 занятия по религиоведению. Ведёт проф. Зоя Павловна Тинина
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/7.jpg" class="thumbnail">
            <img src="/Content/images/people/24/foto/7.jpg" alt="">
        </a>
        04.12.2014 занятия по религиоведению. Ведёт проф. Зоя Павловна Тинина
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/8.jpg" class="thumbnail">
            <img src="/Content/images/people/24/foto/8.jpg" alt="">
        </a>
        04.12.2014 занятия по религиоведению. Ведёт проф. Зоя Павловна Тинина
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kruchek/vkk1.JPG" class="thumbnail">
            <img src="/Content/images/people/kruchek/vkk1.JPG" alt="">
        </a>
        Июнь 2013 г. Справа налево: первый ряд: 1. Гущина Елена Александровна – проректор по научной работе; 2. Крючек Виктор Кириллович – ректор ВГИИК; второй ряд:3. Стрельцов Василий Николаевич – председатель профсоюзного комитета ГОБУК ВПО ВГИИК
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kruchek/vkk2.JPG" class="thumbnail">
            <img src="/Content/images/people/kruchek/vkk2.JPG" alt="">
        </a>
        Апрель 2014 г. Справа налево: 1. Миронова Татьяна Петровна – зав. кафедрой хореографии; 2. Крючек Виктор Кириллович – ректор ГОБУК ВПО ВГИИК
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kruchek/vkk3.JPG" class="thumbnail">
            <img src="/Content/images/people/kruchek/vkk3.JPG" alt="">
        </a>
        Международные Дельфийские игры (май, 2014 г.), конкурс-концерт детских и юношеских номеров на Центральной набережной г. Волгограда. Справа налево, на первом ряду, во главе учеников и студентов ГОБУК ВПО ВГИИК – болельщиков конкурса-концерта: 1. Ленков Николай Николаевич – проректор по технике безопасности; 2. Крючек Виктор Кириллович – ректор ВГИИК
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/kruchek/vkk4.JPG" class="thumbnail">
            <img src="/Content/images/people/kruchek/vkk4.JPG" alt="">
        </a>
        Июнь 2014 г. Крючек Виктор Кириллович – ректор ГОБУК ВПО «Волгоградский государственный институт искусств и культуры», заслуженный работник культуры РФ, профессор, канд. педагогических наук, академик МАИ.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП119.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП19.jpg" alt="">
        </a>
        2008 г. город Волгоград. Фетисова Анфиса Петровна со средним сыном Михаилом Михайловичем.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/25/foto/фотодокументы ФАП20.jpg" class="thumbnail">
            <img src="/Content/images/people/25/foto/фотодокументы ФАП20.jpg" alt="">
        </a>
        2010 г. город Волгоград. Слева направо: директор училища культуры Петров Владимир Моисеевич, преподаватель Фетисова Анфиса Петровна.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/150318052321_53219939c34022f8cbf4e9583037f3a8.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/150318052321_53219939c34022f8cbf4e9583037f3a8.jpg" alt="">
        </a>
        2009.06. День рожд-я доц. Горбуновой Е.Е. (2-я слева). В гостях слева направо - Веденеев А.Г - проректор, Тинина Зоя Павловна - зав. каф. ОД, Горбунов Е.И. - проректор, доценты - Притыченко И.В., Веденеева Л.В.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150914_0013.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150914_0013.jpg" alt="">
        </a>
        07.12.2013г. Иловля, Волгоградская область. Слева направо: доктор филологических наук, профессор ВолГУ Горбань Оксана Анатольевна (г. Волгоград); главный редактор газеты "Наш город" Паршев Виктор Владимирович (г. Волжский); профессор, зав. кафедрой общественных наук ВГИИК Тинина Зоя Павловна
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/photo/archive/IMG_20150914_0014.jpg" class="thumbnail">
            <img src="/Content/images/photo/archive/IMG_20150914_0014.jpg" alt="">
        </a>
        07.12.2013 г. XIII Международная конференция Александра Невского (Иловля, Волгоградская область). Слева направо: доктор филологических наук, профессор ВолГУ Горбань Оксана Анатольевна (г. Волгоград); главный редактор газеты "Наш город" Паршев Виктор Владимирович (г. Волжский); профессор, зав. кафедрой общественных наук ВГИИК Тинина Зоя Павловна. Выступает: гостья из г. Тамбов
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/сентябрь2015 Центр по изучению Сталинградской битвы. В центре профессор М.М. Загорулько.JPG" class="thumbnail">
            <img src="/Content/images/people/24/foto/сентябрь2015 Центр по изучению Сталинградской битвы. В центре профессор М.М. Загорулько.JPG" alt="">
        </a>
        Cентябрь 2015. Центр по изучению Сталинградской битвы. В центре профессор М.М. Загорулько
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/сентябрь 2015 центр по изучению Сталинградской битвы. Волгоград. справа профессор З.П. Тинина, академик М.М. Загорулько, профессор О.И. Луконина..JPG" class="thumbnail">
            <img src="/Content/images/people/24/foto/сентябрь 2015 центр по изучению Сталинградской битвы. Волгоград. справа профессор З.П. Тинина, академик М.М. Загорулько, профессор О.И. Луконина..JPG" alt="">
        </a>
        Cентябрь 2015. Центр по изучению Сталинградской битвы. Волгоград. Справа профессор З.П. Тинина, академик М.М. Загорулько, профессор О.И. Луконина.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/сентябрь 2015 заседание центра по изучению Сталинградской битвы. слева профессор О.И. Луконина. справа профессор З.П. Тинина..JPG" class="thumbnail">
            <img src="/Content/images/people/24/foto/сентябрь 2015 заседание центра по изучению Сталинградской битвы. слева профессор О.И. Луконина. справа профессор З.П. Тинина..JPG" alt="">
        </a>
        Cентябрь 2015. Заседание центра по изучению Сталинградской битвы. Слева профессор О.И. Луконина. Справа профессор З.П. Тинина.
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/декабрь 2015 г.Поклонная гора, Суровикино, слева направо доктор филол. ВолГУ О.А. Горбань, проф. ВГИИК З.П. Тинина.JPG" class="thumbnail">
            <img src="/Content/images/people/24/foto/декабрь 2015 г.Поклонная гора, Суровикино, слева направо доктор филол. ВолГУ О.А. Горбань, проф. ВГИИК З.П. Тинина.JPG" alt="">
        </a>
        Декабрь 2015 г.Поклонная гора, Суровикино, слева направо доктор филол. ВолГУ О.А. Горбань, проф. ВГИИК З.П. Тинина
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="/Content/images/people/24/foto/декабрь 2015 г. междун. форум Александр Невский. г. Суровикино.  слева направо проф. ВГИИК З.П. Тинина, директор клуба, писатель Т.М. Батурина.JPG" class="thumbnail">
            <img src="/Content/images/people/24/foto/декабрь 2015 г. междун. форум Александр Невский. г. Суровикино.  слева направо проф. ВГИИК З.П. Тинина, директор клуба, писатель Т.М. Батурина.JPG" alt="">
        </a>
        Декабрь 2015 г. междун. форум Александр Невский. г. Суровикино. слева направо проф. ВГИИК З.П. Тинина, директор клуба, писатель Т.М. Батурина
    </div>

</div>
</div>
</div>
</div>