@model T034.ViewModel.ArchiveViewModel

@{
    ViewBag.Title = "Архив ВГИИК";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @{
        Html.RenderPartial("Archive/PersonList", Model.Persons);
        Html.RenderPartial("Archive/PhotoList");
        Html.RenderPartial("Archive/DepartmentList", Model.Departments);
    }
</div>