@model dynamic

@{
    ViewBag.Title = "ВГИИК - Презентация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ВИРТУАЛЬНЫЙ МУЗЕЙ ИСТОРИИ И СОВРЕМЕННОСТИ ГОБУК ВПО «ВОЛГОГРАДСКИЙ ГОСУДАРСТВЕННЫЙ ИНСТИТУТ ИСКУССТВ И КУЛЬТУРЫ»</h2> 
<div class="text-right">ИСТОРИЯ И СОВРЕМЕННОСТЬ ВЗАИМОЗАВИСИМЫ И НЕРАЗРЫВНЫ<br>
    Помнить о прошлом, жить настоящим, значит быть в будущем!</div>
    
<h3 class="text-center">ПРЕДИСТОРИЯ ВОЛГОГРАДСКОГО ГОСУДАРСТВЕННОГО ИНСТИТУТА ИСКУССТВ И КУЛЬТУРЫПЕРВЫЙ ЭТАП ИСТОРИИ</h3>

<div class="text-center">Документы первого директора Сталинградской областной культурно-просветительной школы Ивана Максимовича Авдеева (28.05.1957-18.07.1966)</div>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/2-1.jpg" class="thumbnail">
            <img src="/Content/images/presentation/2-1.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/2-2.jpg" class="thumbnail">
            <img src="/Content/images/presentation/2-2.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/2-3.jpg" class="thumbnail">
            <img src="/Content/images/presentation/2-3.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/2-4.jpg" class="thumbnail">
            <img src="/Content/images/presentation/2-4.jpg" alt="">
        </a>
    </div>
</div>

<h3 class="text-center">ВОЛГОГРАДСКОЕ ОБЛАСТНОЕ КУЛЬТУРНО-ПРОСВЕТИТЕЛЬНОЕ УЧИЛИЩЕВТОРОЙ ЭТАП ИСТОРИИ</h3>

<div class="text-center">Документы первого директора Волгоградского областного культурно-просветительного училища Петра Ивановича Прокудина (25.07.1966 – 24.06.1970)</div>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/3-1.jpg" class="thumbnail">
            <img src="/Content/images/presentation/3-1.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/3-2.jpg" class="thumbnail">
            <img src="/Content/images/presentation/3-2.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/3-3.jpg" class="thumbnail">
            <img src="/Content/images/presentation/3-3.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/3-4.jpg" class="thumbnail">
            <img src="/Content/images/presentation/3-4.jpg" alt="">
        </a>
    </div>
</div>

<h3 class="text-center">ВОЛГОГРАДСКОЕ ОБЛАСТНОЕ КУЛЬТУРНО-ПРОСВЕТИТЕЛЬНОЕ УЧИЛИЩЕ</h3>
<div class="row">
    <div class="row">
        <div class="span6">
            <div class="col-xs-6 col-md-3">
                <button class="thumbnail" data-toggle="modal" data-target="#myModal">
                    <img src="/Content/images/presentation/4-1.jpg" alt="">
                </button >
            </div>
            <div class="text-center">Документы исполняющей обязанности директора областного культурно-просветительного училища, в дальнейшем заведующей,  Клавдии Петровны Кондрашовой</div>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/4-2.jpg" class="thumbnail">
            <img src="/Content/images/presentation/4-2.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/4-3.jpg" class="thumbnail">
            <img src="/Content/images/presentation/4-3.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/4-4.jpg" class="thumbnail">
            <img src="/Content/images/presentation/4-4.jpg" alt="">
        </a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Клавдия Петровна Кондрашова (р. 18.12.1923) - ветеран Великой Отечественной войны.</h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-6 col-md-3">
                    <a href="/Content/images/people/kpk/1.JPG" class="thumbnail">
                        <img src="/Content/images/people/kpk/1.JPG" alt="">
                    </a>
                </div>
                <div>
                    В 1942 году ей было всего 19 лет, когда она ушла добровольцем на фронт на Дальний
                    Восток. Через три года Клавдия Петровна вернулась в родной, но до основания разрушенный,
                    Сталинград и принялась вместе с другими добровольцами восстанавливать мирную жизнь.
                </div>
                <div class="">
                    <a href="/Content/images/people/kpk/2.JPG" class="thumbnail">
                        <img src="/Content/images/people/kpk/2.JPG" alt="">
                    </a>
                    <a href="/Content/images/people/kpk/3.JPG" class="thumbnail">
                        <img src="/Content/images/people/kpk/3.JPG" alt="">
                    </a>
                </div>
                <div >
                    Она была и трактористом, и учителем, и зам. директора Волгоградского культурно-просветительного
                    училища.
                </div>
                <div >
                    <a href="/Content/images/presentation/4-1.jpg" class="thumbnail">
                        <img src="/Content/images/presentation/4-1.jpg" alt="">
                    </a>
                </div>
                <div >
                    Послевоенную жизнь Клавдия Петровна Кондрашова посвятила в основном культуре и педагогике. С любовью и улыбкой она вспоминает о своих учениках, да и они о своем учителе не забывают.
                    Клавдия Петровна Кондрашова была у истоков формирования Волгоградского государственного института искусств и культуры «ВГИИК» и является заслуженным ветераном этого вуза с 2013 года.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
    <iframe width="420" height="315" src="//www.youtube.com/embed/kkQo8KiAt0c" frameborder="0" allowfullscreen></iframe>
</div>

<div class="text-center">Материалы директора Волгоградского областного культурно-просветительного училища Владимира Моисеевича Петрова  (1970-1980)</div>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/6-1.jpg" class="thumbnail">
            <img src="/Content/images/presentation/6-1.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/6-2.jpg" class="thumbnail">
            <img src="/Content/images/presentation/6-2.jpg" alt="">
        </a>
    </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
    <iframe width="420" height="315" src="//www.youtube.com/embed/opwpcIgiadQ" frameborder="0" allowfullscreen></iframe>
</div>

<h3 class="text-center">ВОЛГОГРАДСКИЙ ГОСУДАРСТВЕННЫЙ ИНСТИТУТ ИСКУССТВ И КУЛЬТУРЫТРЕТИЙ ЭТАП</h3>

<div class="text-center">Материалы первого ректора ГОБУК ВПО ВГИИК, профессора, заслуженного работника культуры РФ, академика МАИ Виктора Кирилловича Крючека</div>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/people/kruchek/1.JPG" class="thumbnail">
            <img src="/Content/images/people/kruchek/1.JPG" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/people/kruchek/2.JPG" class="thumbnail">
            <img src="/Content/images/people/kruchek/2.JPG" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/people/kruchek/3.JPG" class="thumbnail">
            <img src="/Content/images/people/kruchek/3.JPG" alt="">
        </a>
    </div>
</div>
Крючек Виктор Кириллович – ректор ГОБУК ВПО «Волгоградский государственный институт искусств и культуры», зав. кафедрой социально-культурной деятельности, профессор, кандидат педагогических наук, Заслуженный работник культуры Российской Федерации.
Должность: Ректор ГОБУК ВПО «Волгоградский государственный институт искусств и культуры».
Дата и место рождения: Родился 23 мая 1948 г. в пос. Пролетарском Луганской области Украины.
Образование: В 1967 г. окончил Ростовское училище культуры, в 1971 г. – Краснодарский государственный институт культуры, а в 1977 г. — аспирантуру Ленинградского государственного института культуры им. Н. К. Крупской.
Карьера: 1971 г. — преподаватель по классу баяна, дирижирования, инструментовки Волгоградского училища культуры; с 1977 по 1990 гг. — доцент, заведующий кафедрой, заместитель декана, декан факультета культурно-просветительной работы Минского института культуры; с 1990 г. — директор Волгоградского училища культуры; 1992 г. — директор Волгоградского филиала Самарской государственной академии культуры и искусств. С 2000 г. и по сей день работает ректором ГОБУК ВПО ВГИИК.
Звания и награды: Кандидат педагогических наук, профессор, действительный член, академик Международной академии информатизации, заслуженный работник культуры РФ. Награжден ведомственным знаком Министерства культуры РФ «За достижения в культуре», автор свыше 50-ти научных работ в том числе трёх монографий в сфере социально-культурной деятельности, музыкально-эстетического воспитания детей и подростков. Инициатор создания и организатор на базе ВГИИК трёхступенчатого образовательного учреждения (школа-училище-вуз), член ассоциации «Северный Кавказ», член Комитета по культуре Волгоградской областной Думы. Имеет ряд государственный и региональных наград, удостоен почётного знака Министерства культуры РФ «За достижения в культуре».
Семья: Жена Лидия Ивановна, дочь Олеся, внуки Настя и Егор.
В соответствии с Законом Волгоградской области от 13 июня 2007 г. № 1486-ОД «О государственных премиях Волгоградской области в сфере литературы, искусства, архитектуры и культурно-просветительной деятельности» и постановлением главы администрации Волгоградской области от 18 апреля 2008 г. № 484 «О присуждении государственных премий Волгоградской области» в соответствии с предложениями конкурсной комиссии по государственным премиям Волгоградской области в сфере литературы, искусства, архитектуры и культурно-просветительной деятельности при губернаторе Волгоградской области госпремии были вручены в 6 номинациях: Литература, Изобразительное искусство, Музыкальное искусство, театральное искусство, Архитектура, культурно-просветительная деятельность.
21 декабря 2012 в Белом зале Правительства Волгоградской области была вручена государственная премия Волгоградской области в сфере литературы, искусства, архитектуры и культурно-просветительной деятельности, в номинации культурно-просветительная деятельность Крючеку Виктору Кирилловичу за ежегодный цикл культурно-просветительных мероприятий для жителей Волгоградской области – премия 2-й степени в размере 175 тыс. рублей.

<br>
<br>
<br>
Художественный вуз непрерывного образования
Принципы непрерывного образования и преемственности ярко проявляются в деятельности ВГИИК. Институт также ведет активную работу по укреплению международных связей и партнерских отношений с творческими вузами ближнего и дальнего зарубежья. 
Волгоградский государственный институт искусств и культуры (ВГИИК) является не только учебным, но и научным центром подготовки специалистов. Это активно развивающийся вуз, который одним из первых в России перешел на трехступенчатую образовательную структуру, объединяющую в одном учебном заведении детскую школу искусств, училище и вуз, чем обеспечивается непрерывность и преемственность различных уровней художественного образования. Принципы непрерывного образования и преемственности особенно ярко проявляются в деятельности факультета искусств, где сосредоточены основные исполнительские силы института. Это студенческий духовой оркестр, оркестр народных инструментов, сводный народный хор кафедры хорового и вокального искусства, камерный оркестр и другие коллективы, зарекомендовавшие себя не только в регионе, но и за рубежом. С 2004 года в институте работает студенческая филармония. Оперная студия ежегодно ставит спектакли на сцене Волгоградского музыкального театра. В них участвует студенческий симфонический оркестр. Гордость института – фольклорный ансамбль старинной казачьей песни «Станица», лауреат многих международных и всероссийских конкурсов и фестивалей. Помимо концертной деятельности, ансамбль ведет работу по сбору старинных казачьих песен. В 2011 году коллектив отметил тридцатилетие. Деятельность факультета художественного творчества, одного из самых молодых в вузе, органично соединяет традиционные и новейшие технологии. Успешной работе способствует соответствующая материально-техническая база. Факультет является организатором и постановщиком многочисленных областных массовых мероприятий, в том числе для детей и юношества. Преподаватели факультета социально-культурной деятельности ведут активную научно-методическую и научно-практическую работу. Студенты являются организаторами различных проектов, тем самым приобретая умения и навыки практического менеджмента. Факультет поддерживает тесную связь с социально-культурными и общественными организациями города и области, оказывает им консультационную, методическую и организационную помощь. Вуз является организатором многих международных, всероссийских и региональных конкурсов и фестивалей. Только за текущий год вузом инициировано и проведено около 10 конкурсов и фестивалей различного уровня. Одним из последних мероприятий, организатором которого при активной поддержке Комитета по культуре Администрации Волгоградской области и Волгоградского регионального Благотворительного фонда «Благословите детство» выступил ВГИИК является Областной фестиваль детского творчества «Таланты земли Волгоградской». Фестиваль проходил с 12 по 18 июня 2011 года на теплоходе «Александр Невский» по маршруту «Волгоград – Самара – Казань – Саратов – Волгоград». Уникальность данного проекта заключается в том, что участниками фестиваля стали не только учащиеся музыкальных, художественных, хореографических школ, школ искусств, но и воспитанники детских домов, проявивших яркие творческие способности. В течение недели на теплоходе проводились мастер-классы преподавателей ВГИИК, также дети смогли познакомиться со старейшими учреждениями культуры и искусства, лучшими преподавательскими силами ведущих вузов Нижнего и Среднего Поволжья. Между ВГИИК и учебными заведениями Самары, Казани были заключены Соглашения о сотрудничестве. Преподаватели вуза, большинство из которых имеют ученые степени, ученые и почетные звания, находятся в постоянном научном и творческом поиске, работают над повышением качества учебно-воспитательного процесса. На сегодня в институте сформировано 15 научных направлений и творческих школ. С 2000 года проводится международный научный конгресс «Наука, искусство, образование в культуре третьего тысячелетия», с 2003 года – всероссийская научно-практическая конференция «Художественное образование России: современное состояние, проблемы, направления развития». Ежегодно в декабре проходят научные конференции в рамках Недели науки и творчества студентов и преподавателей ВГИИК, посвященной дню основания вуза. По итогам научных мероприятий формируются сборники статей. Их за последние десять лет издано около 40. Показателями качества профессиональной подготовки является участие преподавателей и студентов во многих творческих проектах, а также многочисленные победы на международных и всероссийских конкурсах и фестивалях исполнительского мастерства. Так, за последние пять лет лауреатами и дипломантами международных и всероссийских конкурсов стали более 80 студентов, количество завоеванных ими наград достигло 160. Институт ведет активную работу по укреплению международных связей и партнерских отношений с творческими коллективами и учебными заведениями ближнего и дальнего зарубежья. Имеются договоры о сотрудничестве с Белорусским государственным университетом культуры, Джусеонг-Колледжем (Южная Корея), Николаевским межрегиональным институтом развития человека Открытого международного университета развития человека (Украина), Новой консерваторией (Греция).
В 2009 году вуз внесен в федеральный реестр «Всероссийская Книга Почета».


