@using T034.ViewModel
@model dynamic

@{
    ViewBag.Title = "ВГИИК - Презентация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text">
    <h3>Виртуальный музей истории и современности ГОБУК ВПО «Волгоградский государственный институт искусств и культуры» 2014</h3>

    <div class="text-right">История и современность взаимозависимы и неразрывны<br>
        Помнить о прошлом, жить настоящим, значит быть в будущем!</div>
    
    <h4 class="text-center">Предыстория Волгоградского Государственного Института Искусств и Культуры <br>Первый этап истории</h4>

    <div class="text-center">Документы первого директора Сталинградской областной культурно-просветительной школы Ивана Максимовича Авдеева (28.05.1957-18.07.1966)</div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/2-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/2-1.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/2-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/2-2.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/2-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/2-3.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/2-4.jpg" class="thumbnail">
                <img src="/Content/images/presentation/2-4.jpg" alt="">
            </a>
        </div>
    </div>

    <h4 class="text-center">Волгоградское областное культурно-просветительное училище<br>Второй этап истории</h4>

    <div class="text-center">Документы первого директора Волгоградского областного культурно-просветительного училища Петра Ивановича Прокудина (25.07.1966 – 24.06.1970)</div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/3-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/3-1.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/3-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/3-2.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/3-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/3-3.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/3-4.jpg" class="thumbnail">
                <img src="/Content/images/presentation/3-4.jpg" alt="">
            </a>
        </div>
    </div>

<h4 class="text-center">Волгоградское областное культурно-просветительное училище</h4>
<div class="text-center">Документы исполняющей обязанности директора областного культурно-просветительного училища, в дальнейшем заведующей,  <a data-toggle="modal" data-target="#myModal">Клавдии Петровны Кондрашовой</a></div>
<div class="row">

	<div class="col-xs-6 col-md-3">
		<a class="thumbnail">
			<img src="/Content/images/presentation/4-1.jpg" alt="">
		</a>
	</div>

    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/4-2.jpg" class="thumbnail">
            <img src="/Content/images/presentation/4-2.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/4-3.jpg" class="thumbnail">
            <img src="/Content/images/presentation/4-3.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="/Content/images/presentation/4-4.jpg" class="thumbnail">
            <img src="/Content/images/presentation/4-4.jpg" alt="">
        </a>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Клавдия Петровна Кондрашова (р. 18.12.1923) - ветеран Великой Отечественной войны.</h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-6 col-md-3">
                        <a href="/Content/images/people/kpk/1.JPG" class="thumbnail">
                            <img src="/Content/images/people/kpk/1.JPG" alt="">
                        </a>
                    </div>
                    <div>
                        В 1942 году ей было всего 19 лет, когда она ушла добровольцем на фронт на Дальний
                        Восток. Через три года Клавдия Петровна вернулась в родной, но до основания разрушенный,
                        Сталинград и принялась вместе с другими добровольцами восстанавливать мирную жизнь.
                    </div>
                    <div class="">
                        <a href="/Content/images/people/kpk/2.JPG" class="thumbnail">
                            <img src="/Content/images/people/kpk/2.JPG" alt="">
                        </a>
                        <a href="/Content/images/people/kpk/3.JPG" class="thumbnail">
                            <img src="/Content/images/people/kpk/3.JPG" alt="">
                        </a>
                    </div>
                    <div >
                        Она была и трактористом, и учителем, и зам. директора Волгоградского культурно-просветительного
                        училища.
                    </div>
                    <div >
                        <a href="/Content/images/presentation/4-1.jpg" class="thumbnail">
                            <img src="/Content/images/presentation/4-1.jpg" alt="">
                        </a>
                    </div>
                    <div >
                        Послевоенную жизнь Клавдия Петровна Кондрашова посвятила в основном культуре и педагогике. С любовью и улыбкой она вспоминает о своих учениках, да и они о своем учителе не забывают.
                        Клавдия Петровна Кондрашова была у истоков формирования Волгоградского государственного института искусств и культуры «ВГИИК» и является заслуженным ветераном этого вуза с 2013 года.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="420" height="315" src="//www.youtube.com/embed/kkQo8KiAt0c" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="text-center">Материалы директора Волгоградского областного культурно-просветительного училища Владимира Моисеевича Петрова  (1970-1980)</div>

    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/6-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/6-1.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/6-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/6-2.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <iframe width="420" height="315" src="//www.youtube.com/embed/opwpcIgiadQ" frameborder="0" allowfullscreen></iframe>
    </div>

    <h4 class="text-center">Волгоградский государственный институт искусств и культуры<br>Третий этап</h4>

    <div class="text-center">Материалы первого ректора ГОБУК ВПО ВГИИК, профессора, заслуженного работника культуры РФ, академика МАИ Виктора Кирилловича Крючека</div>

    Крючек Виктор Кириллович – ректор ГОБУК ВПО «Волгоградский государственный институт искусств и культуры», зав. кафедрой социально-культурной деятельности, профессор, кандидат педагогических наук, Заслуженный работник культуры Российской Федерации.
    Должность: Ректор ГОБУК ВПО «Волгоградский государственный институт искусств и культуры».
	<div class="row">
        <div class="col-xs-6 col-md-2">
        </div>
        <div class="col-xs-6 col-md-8">
            <a href="/Content/images/people/kruchek/4.jpg" class="thumbnail">
                <img src="/Content/images/people/kruchek/4.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
        </div>
    </div>
    Дата и место рождения: Родился 23 мая 1948 г. в пос. Пролетарском Луганской области Украины.
    Образование: В 1967 г. окончил Ростовское училище культуры, в 1971 г. – Краснодарский государственный институт культуры, а в 1977 г. — аспирантуру Ленинградского государственного института культуры им. Н. К. Крупской.
    Карьера: 1971 г. — преподаватель по классу баяна, дирижирования, инструментовки Волгоградского училища культуры; с 1977 по 1990 гг. — доцент, заведующий кафедрой, заместитель декана, декан факультета культурно-просветительной работы Минского института культуры; с 1990 г. — директор Волгоградского училища культуры; 1992 г. — директор Волгоградского филиала Самарской государственной академии культуры и искусств. С 2000 г. и по сей день работает ректором ГОБУК ВПО ВГИИК.
    Звания и награды: Кандидат педагогических наук, профессор, действительный член, академик Международной академии информатизации, заслуженный работник культуры РФ. Награжден ведомственным знаком Министерства культуры РФ «За достижения в культуре», автор свыше 50-ти научных работ в том числе трёх монографий в сфере социально-культурной деятельности, музыкально-эстетического воспитания детей и подростков. Инициатор создания и организатор на базе ВГИИК трёхступенчатого образовательного учреждения (школа-училище-вуз), член ассоциации «Северный Кавказ», член Комитета по культуре Волгоградской областной Думы. Имеет ряд государственный и региональных наград, удостоен почётного знака Министерства культуры РФ «За достижения в культуре».
    Семья: Жена Лидия Ивановна, дочь Олеся, внуки Настя и Егор.
    В соответствии с Законом Волгоградской области от 13 июня 2007 г. № 1486-ОД «О государственных премиях Волгоградской области в сфере литературы, искусства, архитектуры и культурно-просветительной деятельности» и постановлением главы администрации Волгоградской области от 18 апреля 2008 г. № 484 «О присуждении государственных премий Волгоградской области» в соответствии с предложениями конкурсной комиссии по государственным премиям Волгоградской области в сфере литературы, искусства, архитектуры и культурно-просветительной деятельности при губернаторе Волгоградской области госпремии были вручены в 6 номинациях: Литература, Изобразительное искусство, Музыкальное искусство, театральное искусство, Архитектура, культурно-просветительная деятельность.
    21 декабря 2012 в Белом зале Правительства Волгоградской области была вручена государственная премия Волгоградской области в сфере литературы, искусства, архитектуры и культурно-просветительной деятельности, в номинации культурно-просветительная деятельность Крючеку Виктору Кирилловичу за ежегодный цикл культурно-просветительных мероприятий для жителей Волгоградской области – премия 2-й степени в размере 175 тыс. рублей.

    <br>
    <br>
    <br>
    Художественный вуз непрерывного образования
    Принципы непрерывного образования и преемственности ярко проявляются в деятельности ВГИИК. Институт также ведет активную работу по укреплению международных связей и партнерских отношений с творческими вузами ближнего и дальнего зарубежья. 
    Волгоградский государственный институт искусств и культуры (ВГИИК) является не только учебным, но и научным центром подготовки специалистов. Это активно развивающийся вуз, который одним из первых в России перешел на трехступенчатую образовательную структуру, объединяющую в одном учебном заведении детскую школу искусств, училище и вуз, чем обеспечивается непрерывность и преемственность различных уровней художественного образования. Принципы непрерывного образования и преемственности особенно ярко проявляются в деятельности факультета искусств, где сосредоточены основные исполнительские силы института. Это студенческий духовой оркестр, оркестр народных инструментов, сводный народный хор кафедры хорового и вокального искусства, камерный оркестр и другие коллективы, зарекомендовавшие себя не только в регионе, но и за рубежом. С 2004 года в институте работает студенческая филармония. Оперная студия ежегодно ставит спектакли на сцене Волгоградского музыкального театра. В них участвует студенческий симфонический оркестр. Гордость института – фольклорный ансамбль старинной казачьей песни «Станица», лауреат многих международных и всероссийских конкурсов и фестивалей. Помимо концертной деятельности, ансамбль ведет работу по сбору старинных казачьих песен. В 2011 году коллектив отметил тридцатилетие. Деятельность факультета художественного творчества, одного из самых молодых в вузе, органично соединяет традиционные и новейшие технологии. Успешной работе способствует соответствующая материально-техническая база. Факультет является организатором и постановщиком многочисленных областных массовых мероприятий, в том числе для детей и юношества. Преподаватели факультета социально-культурной деятельности ведут активную научно-методическую и научно-практическую работу. Студенты являются организаторами различных проектов, тем самым приобретая умения и навыки практического менеджмента. Факультет поддерживает тесную связь с социально-культурными и общественными организациями города и области, оказывает им консультационную, методическую и организационную помощь. Вуз является организатором многих международных, всероссийских и региональных конкурсов и фестивалей. Только за текущий год вузом инициировано и проведено около 10 конкурсов и фестивалей различного уровня. Одним из последних мероприятий, организатором которого при активной поддержке Комитета по культуре Администрации Волгоградской области и Волгоградского регионального Благотворительного фонда «Благословите детство» выступил ВГИИК является Областной фестиваль детского творчества «Таланты земли Волгоградской». Фестиваль проходил с 12 по 18 июня 2011 года на теплоходе «Александр Невский» по маршруту «Волгоград – Самара – Казань – Саратов – Волгоград». Уникальность данного проекта заключается в том, что участниками фестиваля стали не только учащиеся музыкальных, художественных, хореографических школ, школ искусств, но и воспитанники детских домов, проявивших яркие творческие способности. В течение недели на теплоходе проводились мастер-классы преподавателей ВГИИК, также дети смогли познакомиться со старейшими учреждениями культуры и искусства, лучшими преподавательскими силами ведущих вузов Нижнего и Среднего Поволжья. Между ВГИИК и учебными заведениями Самары, Казани были заключены Соглашения о сотрудничестве. Преподаватели вуза, большинство из которых имеют ученые степени, ученые и почетные звания, находятся в постоянном научном и творческом поиске, работают над повышением качества учебно-воспитательного процесса. На сегодня в институте сформировано 15 научных направлений и творческих школ. С 2000 года проводится международный научный конгресс «Наука, искусство, образование в культуре третьего тысячелетия», с 2003 года – всероссийская научно-практическая конференция «Художественное образование России: современное состояние, проблемы, направления развития». Ежегодно в декабре проходят научные конференции в рамках Недели науки и творчества студентов и преподавателей ВГИИК, посвященной дню основания вуза. По итогам научных мероприятий формируются сборники статей. Их за последние десять лет издано около 40. Показателями качества профессиональной подготовки является участие преподавателей и студентов во многих творческих проектах, а также многочисленные победы на международных и всероссийских конкурсах и фестивалях исполнительского мастерства. Так, за последние пять лет лауреатами и дипломантами международных и всероссийских конкурсов стали более 80 студентов, количество завоеванных ими наград достигло 160. Институт ведет активную работу по укреплению международных связей и партнерских отношений с творческими коллективами и учебными заведениями ближнего и дальнего зарубежья. Имеются договоры о сотрудничестве с Белорусским государственным университетом культуры, Джусеонг-Колледжем (Южная Корея), Николаевским межрегиональным институтом развития человека Открытого международного университета развития человека (Украина), Новой консерваторией (Греция).
    В 2009 году вуз внесен в федеральный реестр «Всероссийская Книга Почета».

    <h4 class="text-center">Ветераны ГОБУК ВПО ВГИИК</h4>
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-1.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-2.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-3.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-4.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-4.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-5.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-5.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-6.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-6.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-7.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-7.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-8.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-8.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-9.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-9.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/9-10.jpg" class="thumbnail">
                <img src="/Content/images/presentation/9-10.jpg" alt="">
            </a>
        </div>
    </div>

    <h4 class="text-center">Ректорат ГОБУК ВПО ВГИИК</h4>
    <div class="row">
        <div class="col-xs-6 col-md-2 text-center">
            <a href="/Content/images/presentation/11-1-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/11-1-1.jpg" alt="">
            </a>
            Первый проректор ГОБУК ВПО ВГИИК - доцент Веденеев Александр Геннадьевич
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/11-1-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/11-1-2.jpg" alt="">
            </a>
            Проректор по научной работе - профессор, кандидат философских наук Гущина Елена Александровна
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/11-1-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/11-1-3.jpg" alt="">
            </a>
            Проректор по художественно-творческой работе - профессор, Заслуженный артист РФ Горбунов Андрей Иванович
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/11-1-4.jpg" class="thumbnail">
                <img src="/Content/images/presentation/11-1-4.jpg" alt="">
            </a>
            Главный бухгалтер Пронникова Елена Владимировна
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/11-1-6.jpg" class="thumbnail">
                <img src="/Content/images/presentation/11-1-6.jpg" alt="">
            </a>
            Проректор по учебно-методической работе - кандидат педагогических наук Юлпатова Елена Юрьевна
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/11-2-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/11-2-1.jpg" alt="">
            </a>
            Начальник общего отдела - Колесова Галина Юрьевна. Награждена почётной грамотой Комитета по культуре Администрации Волгоградской области
        </div>
	</div>
	<div class="row">
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/11-2-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/11-2-2.jpg" alt="">
            </a>
            Начальник отдела кадров - Половинко Сергей Николаевич
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/11-2-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/11-2-3.jpg" alt="">
            </a>
            Помощник ректора - доцент Ленков Николай Николаевич. Награждён почётной грамотой Министерства культуры Российской Федерации и почётной грамотой главы Администрации Волгоградской области
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/11-2-5.jpg" class="thumbnail">
                <img src="/Content/images/presentation/11-2-5.jpg" alt="">
            </a>
            Руководитель отдела практики, профориентации и трудоустройства ГОБУК ВПО ВГИИК - профессор Тинина Зоя Павловна
        </div>
    </div>
    
    @{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Факультет социально-культурной деятельности",
            MainPhoto = "/Content/images/presentation/13-1.jpg",
            Staff = new List<string> { "Декан факультета - кандидат педагогических наук, доцент Ольга Юрьевна Котельникова (в центре).", "Заместитель декана - старший преподаватель Наталья Сергеевна Улановская (1-я слева).", "Специалист по учебно-методической работе - Людмила Васильевна Шандыбина (1-я справа)." },
            Text = "<p class=\"text\">Факультет социально-культурной деятельности является преемником факультета социально-культурной деятельности и народного художественного творчества, созданного в 1992 г. На факультете обучается 357 студентов.</p><p class=\"text\">Преподаватели факультета ведут активную научно-методическую и научно-практическую работу. Студенты являются организаторами различных проектов, тем самым приобретая умения и навыки практического менеджмента. Факультет поддерживает тесную связь с социально-культурными организациями города и области, оказывает им методическую и организационную помощь.</p><p class=\"text\">В состав факультета входят пять кафедр: кафедра социально-культурной деятельности, кафедра библиотечно-информационной деятельности, кафедра философии, истории, теории искусств и культуры, кафедра психологии, педагогики и физической культуры, кафедра иностранных языков.</p>"
        });
    }

	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра социально-культурной деятельности",
            MainPhoto = "/Content/images/presentation/14-1.jpg",
            Staff = new List<string> { "Заведующий кафедрой - ректор Волгоградского государственного института искусств и культуры, профессор, кандидат педагогических наук, Заслуженный работник культуры РФ, лауреат Государственной премии Волгоградской области Виктор Кириллович Крючек (2-й ряд, 3-й слева)." },
            Text = "<p class=\"text\">Кафедра социально-культурной деятельности ведет свою историю с 1992 года. В настоящее время кафедра готовит специалистов широкого профиля в области социально-культурной деятельности по следующим специализациям: \"Менеджмент социально-культурной деятельности\"; \"Менеджмент туризма\"; \"Педагогика социально-культурной деятельности\". </p><p class=\"text\">Становление и развитие этих специализации тесным образом связанна с именами ведущих преподавателей бывшего училища культуры ( 1957 - 1992 гг.), входившего в число 10 лучших учебных заведений России: Заслуженных работников культуры РФ, ветеранов Великой Отечественной войны К. П. Кондрашовой, Б. Г. Переходника, отличника народного образования Р. В. Коган, З. М. Завьяловой и других.</p><p class=\"text\">В составе кафедры пять кандидатов наук, два профессора, двенадцать доцентов, два Заслуженных работника культуры РФ, лауреат Государственной премии Волгоградской области.</p>"
        });
    }

	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра библиотечно-информационной деятельности",
            MainPhoto = "/Content/images/presentation/15-1.jpg",
            Staff = new List<string> { "Заведующий кафедрой - кандидат педагогических наук, профессор Роза Афанасьевна Овсянникова (1-й ряд, 1-я слева)." },
            Text = "<p class=\"text\">Кафедра библиотечно-информационной деятельности была создана на базе библиотечного отделения Волгоградского училища искусств и культуры в 1992 году, внесшего заметный вклад в подготовку библиотечных специалистов среднего звена. За 23 года своей деятельности (1957 - 1992 г.) было подготовлено 2500 специалистов среднего звена для библиотек области. 90% библиотекарей Волгоградской области - это выпускники библиотечного отделения культурно-просветительского училища.</p>"
        });
    }

    <h4 class="text-center">Общеинститутские кафедры</h4>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="/Content/images/presentation/16-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/16-1.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="/Content/images/presentation/16-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/16-2.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="/Content/images/presentation/16-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/16-3.jpg" alt="">
            </a>
        </div>
	</div>
	<div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="/Content/images/presentation/16-4.jpg" class="thumbnail">
                <img src="/Content/images/presentation/16-4.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-8">
            <div class="row">
                <p class="text">Pабочие фрагменты научного семинара кафедры общеобразовательных дисциплин  ВГИИК в рамках ежегодной недели науки и творчества студентов и преподавателей (2008 год, 16-23 декабря).</p>
                <div class="col-xs-6 col-md-6">
                    <a href="/Content/images/presentation/16-5.jpg" class="thumbnail">
                        <img src="/Content/images/presentation/16-5.jpg" alt="">
                    </a>
                    <p class="text"><i>Слева направо:</i></p>
                    <p class="text"><i>декан факультета СКД Котельникова Ольга Юрьевна;</i></p>
                    <p class="text"><i>зав. кафедрой общеобразовательных дисциплин Тинина Зоя Павловна;</i></p>
                    <p class="text"><i>спиной - гостья из  СПбГУ.</i></p>
                </div>
                <div class="col-xs-6 col-md-6">
                    <a href="/Content/images/presentation/16-6.jpg" class="thumbnail">
                        <img src="/Content/images/presentation/16-6.jpg" alt="">
                    </a>
                    <p class="text"><i>Слева направо:</i></p>
                    <p class="text"><i>зам. декана факультета СКД по учебной работе Молчанова Наталья Валерьевна;</i></p>
                    <p class="text"><i>зав. кафедрой общеобразовательных дисциплин Тинина Зоя Павловна;</i></p>
                    <p class="text"><i>доцент кафедры общеобразовательных дисциплин Пронина Ирина Анатольевна;</i></p>
                    <p class="text"><i>с докладом выступает студент доцента Прониной Ирины Анатольевны.</i></p>
                </div>
            </div>  
        </div>  
    </div>

	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Факультет художественного творчества",
            MainPhoto = "/Content/images/presentation/18-2.jpg",
            Staff = new List<string> { "Декан факультета - член Союза театральных деятелей РФ, доцент Максим Валентинович Бабкин (3-й слева).", 
											"Заместитель декана по учебно-методической и научной работе - член Союза театральных деятелей РФ, старший преподаватель Валентина Николаевна Крылова (1-я справа).",
											"Заместитель декана по концертно-творческой и воспитательной работе - преподаватель Светлана Николаевна Башкатова (2-я справа).",
											"Специалист по учебно-методической работе - преподаватель Людмила Олеговна Гречишкина (2-я слева).",
											"Старший лаборант - преподаватель Юлия Сергеевна Догадина (1-я слева)."},
            Text = "<p class=\"text\">Факультет художественного творчества - один из самых молодых в вузе, создан в 2010 году. Учебная и творческая деятельность факультета органично объединяет традиционные и новейшие технологии. В состав факультета входят 5 кафедр: кафедра хореографии, кафедра режиссуры и актёрского мастерства, кафедра традиционной культуры, кафедра декоративно-прикладного искусства, кафедра истории, теории искусств и культуры.</p>"
        });
    }
	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра общеобразовательных дисциплин (2007-2013)",
            MainPhoto = "/Content/images/presentation/17-1.jpg",
            Staff = new List<string> { "Заведующая кафедрой - профессор, кандидат исторических наук Зоя Павловна Тинина (1-й ряд, 6-я слева)." },
            Text = "<p class=\"text\">В состав кафедры общеобразовательных дисциплин входят четыре секции: психологии и педагогики (зав. секцией - кандидат педагогических наук, доцент И. В. Притыченко), общественных наук (зав. секцией - кандидат философских наук, доцент С. М. Черникова), иностранных языков (зав. секцией - доцент Т. Э. Сотникова), физической культуры (зав. секцией - мастер спорта по боксу, доцент В. С. Аров.</p>"
        });
    }
	
	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра истории и теории искусств и культуры (2002-2013)",
            MainPhoto = "/Content/images/presentation/17-2.jpg",
            Staff = new List<string> { "Заведующий кафедрой - кандидат искусствоведения, член Союза театральных деятелей РФ, профессор Вячеслав Хакимович Разаков (2-й слева)" },
            Text = "<p class=\"text\">Кафедра истории и теории искусств и культуры существует с 2002 года. Среди её ведущих преподавателей кандидат философских наук, доцент Н. Б. Шипулина, кандидат искусствоведения, доцент Г. И. Жданкина, возглавляющая студенческий киноклуб \"Альтернатива\", приобщающий молодёжь к авторскому кинематографу.</p>"
        });
    }

	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра декоративно-прикладного искусства",
            MainPhoto = "/Content/images/presentation/19-1.jpg",
            Staff = new List<string> { "Заведующий кафедрой - член Союза художников РФ, Союза театральных деятелей РФ, Российского авторского общества, лауреат Международной бьеннале современного искусства \"Диалог. Цвет и линия\", доцент Федор Станиславович Новиков" },
            Text = "<p class=\"text\">Кафедра декоративно-прикладного искусства основана в 1993 году. У истоков руководства кафедрой стоял профессор, член союза художников РФ Р. В. Паранюшкин. В разные годы на кафедре работали известные волгоградские художники Е. В. Орлова, Г. Н. Хандова, Л. И. Зотова, В. А. Рухлин.</p>"
        });
    }

    <div class="row">
        <div class="col-xs-6 col-md-2"></div>
		<div class="col-xs-6 col-md-8">
            <a href="/Content/images/presentation/19-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/19-2.jpg" alt="">
            </a>
        </div>
		<div class="col-xs-6 col-md-2"></div>
	</div>
	<div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/people/chaplygin/1.JPG" class="thumbnail">
                <img src="/Content/images/people/chaplygin/1.JPG" alt="">
            </a>
			Чаплыгин Пётр Иванович – профессор кафедры ДПИ ГОБУК ВПО «Волгоградский государственный институт искусств и культуры», народный художник России – 2013 г.
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="/Content/images/people/chaplygin/2.JPG" class="thumbnail">
                <img src="/Content/images/people/chaplygin/2.JPG" alt="">
            </a>
			Чаплыгин Пётр Иванович в мастерской за работой – 2013 г.
        </div>
		<div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/19-4.jpg" class="thumbnail">
                <img src="/Content/images/presentation/19-4.jpg" alt="">
            </a>
        </div>
		<div class="col-xs-6 col-md-3">
            <a href="/Content/images/presentation/19-5.jpg" class="thumbnail">
                <img src="/Content/images/presentation/19-5.jpg" alt="">
            </a>
        </div>
    </div>

	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра режиссуры и актёрского мастерства",
            MainPhoto = "/Content/images/presentation/31.jpg",
            Staff = new List<string> { "Заведующий кафедрой - Заслуженный работник культуры РФ, профессор Галина Сергеевна Андронова (1-й ряд, 6-я слева)" },
            Text = "<p class=\"text\">Кафедра режиссуры и актёрского мастерства была создана в 1992 году. В нынешнем составе кафедры маститые деятели театрального искусства современности: Народный артист РФ, художественный руководитель Нового экспериментального театра г. Волгограда, профессор О. И. Джангишерашвили, Заслуженные артисты РФ - художественный руководитель Театра юного зрителя А. А. Авходеев, главный режиссер Волгоградского музыкального театра А. А. Кутявин, репетитор Волгоградского музыкального театра М. И. Кутявина, В. И. Морозов, художественный руководитель Волжского драматического театра В. Г. Гришечкин, лауреат Государственной премии Волгоградской области, ведущий специалист ГУК Волгоградского областного центра народного творчества П. П. Волков.</p>"
        });
    }
	
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/20-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/20-1.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/20-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/20-2.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/20-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/20-3.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/20-4.jpg" class="thumbnail">
                <img src="/Content/images/presentation/20-4.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-2">
            <a href="/Content/images/presentation/20-5.jpg" class="thumbnail">
                <img src="/Content/images/presentation/20-5.jpg" alt="">
            </a>
        </div>
    </div>
    
    @{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Факультет искусств",
            MainPhoto = "/Content/images/presentation/21-1.jpg",
            Staff = new List<string> { "Декан факультета - кандидат искусствоведения, доцент кафедры истории и теории музыки Оксана Игоревна Луконина (3-я слева).", 
											"Заместитель декана факультета искусств - доцент кафедры хорового и вокального искусства Марина Ивановна Котова (2-я слева).", 
											"Специалист по учебно-методической работе - Татьяна Львовна Грибанова (1-я справа).", 
											"Специалист по учебно-методической работе - Татьяна Сергеевна Слуцкая (1-я слева)." },
            Text = "На факультете искусств, созданном в 1992 г., сосредоточены основные исполнительские силы института, творческие коллективы. Приоритетными направлениями научных исследований являются \"Музыковедение\", \"Музыкальное искусство\". Количество студентов, обучающихся на факультете 281. Факультет искусств объединяет 5 кафедр: кафедру оркестровых инструментов, кафедру хорового и вокального искусства, кафедру теории и истории музыки."
        });
    }

	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра народных инструментов",
            MainPhoto = "/Content/images/presentation/22-1.jpg",
            Staff = new List<string> { "Заведующий кафедрой - Заслуженный артист РФ, доцент Юрий Николаевич Голоднюк (2-й ряд, 2-й слева)." },
            Text = "<p class=\"text\">Кафедра народных инструментов берет свое начало с 1992 года. За все время существования кафедра вписала множество славных страниц в истории волгоградского народно-инструментального искусства, создав единство стиля и традиций. Главным и определяющим на кафедре является воспитание профессионализма, который формируется в процессе многолетней работы.</p>"
        });
    }
	<div class="row">
		<div class="col-xs-6 col-md-2">
        </div>
        <div class="col-xs-6 col-md-8">
            <a href="/Content/images/presentation/22-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/22-2.jpg" alt="">
            </a>
        </div>
		<div class="col-xs-6 col-md-2">
        </div>
    </div>
	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра традиционной культуры",
            MainPhoto = "/Content/images/presentation/23-1.jpg",
            Staff = new List<string> { "Заведующая кафедрой - Заслуженный работник культуры РФ, лауреат Государственной премии Волгоградской области, лауреат международного и всероссийских конкурсов, член правления Волгоградского отделения Российского Фонда культуры, ВМО (региональное отделение), член Российского Фольклорного союза, профессор Ольга Григорьевна Никитенко (1-й ряд, 2-я слева)" },
            Text = "<p class=\"text\">Кафедра традиционной культуры образована в 2007 году. В состав входят высокопрофессиональные специалисты в области науки и творчества, лауреаты Государственной премии Волгоградской области: Заслуженный работник культуры РФ, обладатель Почетного знака губернатора Волгоградской области \"Хранитель традиции\", Заслуженный деятель ВМО, доцент А. В. Кияшко; члены Российского Фольклорного союза преподаватель Т. А. Бутрим; кандидат педагогических наук, доцент Л. В. Винская, старший преподаватель О. С. Васильева; а также старший преподаватель М. Л. Мурыгина,  преподаватель Н. В. Щербакова; Заслуженный работник культуры РФ, обладатель Почетного знака губернатора Волгоградской области \"Хранитель традиции\", старший преподаватель Е. В. Криушинa и др.</p>"
        });
    }
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="/Content/images/presentation/23-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/23-2.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="/Content/images/presentation/23-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/23-3.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="/Content/images/presentation/23-4.jpg" class="thumbnail">
                <img src="/Content/images/presentation/23-4.jpg" alt="">
            </a>
        </div>
    </div>	
 	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра оркестровых инструментов",
            MainPhoto = "/Content/images/presentation/24-1.jpg",
            Staff = new List<string> { "Заведующий кафедрой - Заслуженный артист РФ, профессор Андрей Иванович Горбунов (1-й ряд, 3-й слева)" },
            Text = "<p class=\"text\">Кафедра оркестровых инструментов основана в 1992 году. Основателем кафедры можно назвать главного дирижера Волгоградского Академического симфонического оркестра, Народного артиста СССР, профессора Э. А. Серова. Первыми преподавателями кафедры стали выпускники ведущих консерваторий СССР А. И. Горбунов (валторна), В. П. Евсюков (кларнет), Ш. Д. Тейфиков (труба), Р. А. Каканов (флейта), Б. Т. Морозов (тромбон), Н. Г. Кадашников (скрипка), А. П. Большаков (контрабас), Е. В. Аленькая (виолончель), И. М. Амозова (арфа) и др.</p>"
        });
    }
	
 	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра хорового народного вокального искусства",
            MainPhoto = "/Content/images/presentation/25-2.jpg",
            Staff = new List<string> { "Заведующий кафедрой - Заслуженный деятель Всероссийского музыкального общества, лауреат международных и всероссийских конкурсов, член Союза композиторов РФ, профессор Борис Иванович Борисенко" },
            Text = "<p class=\"text\">Кафедра хорового и вокального искусства открыта в 1994 году в настоящее время кафедра дифференцирована на две секции - хорового искусства и вокального искусства.</p><p class=\"text\">На секции хорового искусства преподают известные деятели культуры и искусства Волгограда, Заслуженный артист РФ главный дирижер Волгоградского музыкального театра А. П. Смирнов, профессор В. Н. Белюсенко, ведущий мастер сцены Волгоградского музыкального театра М. Н. Королев, а также кандидаты педагогических наук, доценты Е. Ю. Юлпатова, лауреат международных и всероссийских конкурсов Л. В. Винская, доценты М. И. Котова, Н.Б. Гетманцева, старший преподаватель Л. П. Соклакова, молодые преподаватели, выпускники института - преподаватель, лауреат и дипломант международных и всероссийских конкурсов А. И. Артамонова, преподаватели М. П. Кондаурова, М. В. Гришина.</p><p class=\"text\">Секция вокального искусства представлена высококвалифицированными специалистами в области академического пения, видными театральными деятелями, ведущими солистами Волгоградского музыкального театра. Среди них Заслуженные артисты РФ профессор В. М. Белюсенко; доценты Л. Е. Асеева, М. Н. Королев, И. Л. Третьяков; лауреат международных и всероссийских конкурсов и фестивалей, профессор Н. И. Мещерякова; лауреат международных конкурсов, доцент И. А. Вайзбулат; Народный артист республики Ингушетия, доцент А. И. Оздоев.</p>"
        });
    }
	<div class="row">
		<div class="col-xs-6 col-md-2">
        </div>
        <div class="col-xs-6 col-md-8">
            <a href="/Content/images/presentation/25-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/25-1.jpg" alt="">
            </a>
        </div>
		<div class="col-xs-6 col-md-2">
        </div>
    </div>
	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра истории и теории музыки",
            MainPhoto = "/Content/images/presentation/26-2.jpg",
            Staff = new List<string> { "Заведующая кафедрой - кандидат философских наук, профессор Елена Александровна Гущина" },
            Text = "<p class=\"text\">На кафедре истории и теории музыки, основанной в 1996 году, преподают ведущие музыковеды Волгограда, среди которых кандидат искусствоведения О. В. Бегичева, Т. С. Андрущак, Е. А. Гущина, О. И. Луконина, доктор искусствоведения, академик РАЕ, профессор Л. П. Казанцева - руководитель научной школы \"Теория музыкального содержания\", старший преподаватель И. А. Николаева, преподаватель И. В. Савина. В разное время на кафедре преподавали доктор искусствоведения, Заслуженный артист РФ, профессора М. А. Аркадьев, доктор педагогических наук, профессор И. А. Арановская. С 2008 года кафедра является выпускающей и готовит преподавателей системы среднего профессионального музыкального образования по специальности \"Теория музыки\". С 2013 года осуществляется набор студентов высшего профессионального образования по специальности \"Музыковедение\", а также по направлению подготовки \"Музыкознание и музыкально-прикладное искусство\".</p>"
        });
    }
    <div class="row">
		<div class="col-xs-6 col-md-2">
        </div>
        <div class="col-xs-6 col-md-8">
            <a href="/Content/images/presentation/26-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/26-1.jpg" alt="">
            </a>
        </div>
		<div class="col-xs-6 col-md-2">
        </div>
    </div>			
	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра хореографии",
            MainPhoto = "/Content/images/presentation/27-1.jpg",
            Staff = new List<string> { "Заведующая кафедрой - Заслуженный деятель искусств РФ, лауреат Национальной премии \"Душа России\", лауреат Государственной премии Волгоградской области в сфере искусств и культуры, обладатель Почетных знаков Администрации Волгоградской области \"Хранитель традиции\", \"Забота о детстве\", художественный руководитель ансамблей \"Улыбка\", \"Юг России\", профессор Татьяна Петровна Миронова (1-й ряд, 3-я слева)." },
            Text = "<p class=\"text\">Кафедра хореографии была создана в 1993 году. В педагогическом коллективе кафедры весомую роль играют ведущие специалисты. Некоторые из них являются выпускниками  ВГИИК: доцент Н. Е. Блохина, преподаватель по народному танцу Б. Н. Жаринов. Молодые преподаватели обучаются в аспирантуре (Т. Н. Шаталова, А. Г. Абакумова, С. В. Ененкова).</p><p class=\"text\"> Особое место на кафедре занимает секция спортивного танца, которую возглавляет президент Волгоградской областной федерации танцевального спорта, вице-президент танцевального спорта России, главный судья международной категории танцевального спорта, лауреат всероссийских международных конкурсов А. В. Шеломицкий.</p>"
        });
    }
	
	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Факультет заочного обучения",
            MainPhoto = "/Content/images/presentation/28-1.jpg",
            Staff = new List<string> { "Декан факультета заочного обучения - кандидат педагогических наук, доцент кафедры общеобразовательных дисциплин Александр Геннадьевич Веденеев (в центре).", 
											"Заместитель декана - старший преподаватель кафедры общеобразовательных дисциплин Александра Геннадьевна Жеманова (1-я справа).", 
											"Специалист по учебно-методической работе - Анна Александровна Полякова (1-я слева).", 
											"Старший лаборант - Ирина Александровна Погорелова (2-я слева)." },
            Text = "<p class=\"text\">Факультет заочного обучения, основанный в 2002 году, по численности студентов является самым большим структурным подразделением (контингент составляет около 600 человек). С каждым годом все более востребованным становится форма получения образования, реализуемая факультетом заочного обучения, направленная на повышение образовательного уровня работников отрасли культуры и искусства Волгограда и муниципальных районов Волгоградской области.</p>"
        });
    }

	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Отдел практики профориентации и трудоустройства (с 2014 года)",
            MainPhoto = "/Content/images/presentation/29-2.jpg",
            Staff = new List<string> { "Руководитель отдела практики, профориентации и трудоустройства - профессор, Тинина Зоя Павловна" },
            Text = "<p class=\"text\">В феврале 2009 года в институте был создан отдел практики - учебно-методическое подразделение, главной целью которого является обеспечение единой политики института в области планирования и организации практики студентов. В его состав входили специалисты по учебно-методической работе О. А. Ильина (специальное образование), Л. Г. Семенова (педагогическое образование). Первый начальник отдела - ветеран труда Зоя Моисеевна Завьялова.</p>"
        });
    }
	
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <a href="/Content/images/presentation/29-1.jpg" class="thumbnail">
                <img src="/Content/images/presentation/29-1.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="/Content/images/presentation/29-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/29-3.jpg" alt="">
            </a>
			Выступление руководителя отдела ППТ Тининой З. П. перед старшеклассниками Старополтавского района Волгоградской области (2-я слева)
        </div>
    </div>
	
	@{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Кафедра специального фортепиано",
            MainPhoto = "/Content/images/presentation/30-1.jpg",
            Staff = new List<string> { "Заведующая кафедрой - профессор Ирина Евгеньевна Остроушко (1-й ряд, 2-я слева)." },
            Text = "<p class=\"text\">Кафедра специального фортепиано была создана в 1992 году под руководством Заслуженного работника культуры РФ, профессора Л.А. Сухановой. Воспитав плеяду в рядах международных и всероссийских конкурсов и фестивалей, она создала крепкий педагогический коллектив, успешно работающих в настоящее время. Заведует кафедрой с 2005 года профессор И. Е. Остроушко. Творческий увлечённо на кафедре преподают профессора В. М. Мерлина, доценты Ю. М. Ильинов, А. С. Цепелева, Е. Н. Ряскова, Н. В. Сютина, старший преподаватель Е. М. Матвеева, преподаватель М. А. Ступницкая.</p>"
        });
    }
	<div class="row">
		<div class="col-xs-6 col-md-2">
		</div>
		<div class="col-xs-6 col-md-8">
            <a href="/Content/images/presentation/21-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/21-2.jpg" alt="">
            </a>
        </div>
		<div class="col-xs-6 col-md-2">
		</div>
    </div>
    @{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Бухгалтерия",
            MainPhoto = "/Content/images/presentation/31-1.jpg",
            Staff = new List<string> { "Главный бухгалтер - Елена Владимировна Пронникова (2-й ряд, 3-я слева)." },
            Text = ""
        });
    }
	
    @{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
        {
            Name = "Учебное управление",
            MainPhoto = "/Content/images/presentation/32-1.jpg",
            Staff = new List<string> { "Начальник учебного управления - Инна Юрьевна Усачёва (3-я слева)." },
            Text = "<p class=\"text\">Основные цели деятельности Учебного управления института заключается в повышении качества организации учебно методической работы в институте, координации работы структурных подразделений, занимающихся образовательной деятельности в институте, а также контроль выполнения лицензионных требований и требований Государственных образовательных стандартов.</p>"
        });
    }
	
    @{
        Html.RenderPartial("DepartmentPartialView", new DepartmentViewModel
            {
                Name = "Научная библиотека",
                MainPhoto = "/Content/images/presentation/33-1.jpg",
                Staff = new List<string> { "Заведующий научной библиотекой - Светлана Львовна Соляник (2-я слева)." },
                Text = "<p class=\"text\">Научная библиотека является звеном вуза, обеспечивающим качество информационных библиографических услуг, предоставляющим возможность эффективного информационного поиска материалов в печатной и электронной форме. Миссия научной библиотеки заключается в том, чтобы предоставить каждому пользователю качественный и эффективный доступ к информационным ресурсам, который способствует их образовательной, научной, научно-исследовательской и профессиональной деятельности; создавать необходимые условия для доступа к информации, постоянно расширять виды и формы предоставляемых услуг; содействовать культурному воспитанию молодёжи, быть проводником культуры, науки и новейших технологий.</p>"
            });
    }

    <h4 class="text-center">Творческие будни ГОБУК ВПО ВГИИК</h4>
    <div class="row">
		<div class="col-xs-6 col-md-4">
            <a href="/Content/images/people/gorbunov/1.jpg" class="thumbnail">
                <img src="/Content/images/people/gorbunov/1.jpg" alt="">
            </a>
			Проректор по художественной работе, профессор Андрей Иванович Горбунов
        </div>
		<div class="col-xs-6 col-md-4">
			<a href="/Content/images/presentation/34-2.jpg" class="thumbnail">
                <img src="/Content/images/presentation/34-2.jpg" alt="">
            </a>
		</div>
		<div class="col-xs-6 col-md-4"></div>
	</div>
	<div class="row">
        <div class="col-xs-6 col-md-6">
            <a href="/Content/images/presentation/34-3.jpg" class="thumbnail">
                <img src="/Content/images/presentation/34-3.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="/Content/images/presentation/34-4.jpg" class="thumbnail">
                <img src="/Content/images/presentation/34-4.jpg" alt="">
            </a>
        </div>
	</div>
	<div class="row">
        <div class="col-xs-6 col-md-6">
            <a href="/Content/images/presentation/34-5.jpg" class="thumbnail">
                <img src="/Content/images/presentation/34-5.jpg" alt="">
            </a>
        </div>
        <div class="col-xs-6 col-md-6">
            <a href="/Content/images/presentation/34-6.jpg" class="thumbnail">
                <img src="/Content/images/presentation/34-6.jpg" alt="">
            </a>
        </div>
    </div>
</div>