@using T034
@model T034.ViewModel.DepartmentViewModel

@{
    ViewBag.Title = MvcApplication.SiteName + " - " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text">
    @Html.Partial("DepartmentPartialView", Model)
</div>