@using T034.ViewModel
@model PersonViewModel

@{
    ViewBag.Title = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.FullName</h3>
@{
    foreach (var carousel in Model.Docs)
    {
        Html.RenderPartial("Carousel", carousel);
    }
}
